@import "../common/var";

header.header{
  padding: 9px 10px;
  background: #019875;
  text-align: center;
  position: relative;
  strong{
    color: @white;
    font-size: 18px;
    font-weight: normal;
  }
  a{
    color:@white;
    font-size: 16px;
    display: inline-block;
  }
  .fleft{
    position: absolute;
    top: 10px;
    left:10px;
  }
  .fright{
    position: absolute;
    top: 10px;
    right:10px;
  }
}