@import "../common/var";

div.input_search{
  padding:10px 0;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  input{
    border:0;
    margin-left:5px;
  }
}

textarea{
  width: 100%;
  border: 0;
  box-sizing:border-box;
  padding:5px 0;
}