@import "common/var";
@import "modules/company/common";

div {
	&.findpassword {
		margin-top: 15px;
		padding: 30px 77px 430px 76px;
	}

	&.process_img {
		margin-bottom: 50px;
	}

	&.btn {
		margin-bottom: 35px;
	}

	&.mykanzhun {
		a.btn_grey_s {
			padding: 0 32px;
		}
	}
}

h1.r_tt {
	font-size: 16px;
	padding-bottom: 30px;
}

p {
	&.prompt {
		font-size: 14px;
		color: @grey_99;
	}

 	&.ipt {
 		margin-bottom: 30px;
 		input {
 			width: 270px;
 			height: 12px;
 			padding: 10px 12px;
 			border: 1px solid @grey_99;
 		}
 	}

 	&.success {
 		color: @def;
 	}

 	&.def {
 		margin-bottom: 30px;
 	}
}

a.findlogin {
	color: @grey_99;
	text-decoration: none;
}
