@import "common/var";

div.wapper {
  width: 990px;
  margin: 0 auto;
}

section {
  img {
    height: 500px;
  }

  &.seecomments {
    height: 140px;
    background: url(../images/activity/img6.jpg) no-repeat left top;
    padding-top: 160px;

    a {
      display: block;
      width: 490px;
      height: 70px;
      margin: 0 auto;
      line-height: 70px;
      font-size: 30px;
      font-weight: bold;
      color: #9d733c;
      background-color: #fcfe7b;
      border-radius: 5px;
      text-align: center;

      &:hover {
        text-decoration: none;
        background-color: #edf00b;
      }
    }
  }
}