//公司模块-右侧-想去调查

@import "../../../../css/common/var";
.wart_part{
  padding-top: 15px;
  padding-bottom: 15px;
  .wp_r{
    margin-left: 35px;
    .btn_grey_s{
      padding: 0 12px;
    }
  }
  .wp_ok{
    font-size: 16px;
    text-align: center;
    padding: 27px 0;
  }
}