@import "../../../../css/common/var";
@import "../../var";

//该公司最新招聘
div.cmp_latest_recruit {
  h2.f_tt {
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
  }

  ul.newest {
    margin-top: -10px;

    li {
      border-bottom: 1px dashed #e7e7e7;
      padding: 10px 0;

      a {
        display: block;
        cursor: pointer;
      }

      span {
        float: right;
        color: #eb7676;
      }

      em {
        margin: 0 5px;
        vertical-align: 1px;
        color: #e7e7e7;
      }
    }
  }
}
