div.newest_job dl.job_info {
  overflow: hidden;
  margin-bottom: 15px;
}
div.newest_job dl.job_info dt {
  float: left;
}
div.newest_job dl.job_info dt a {
  display: block;
  border: 1px solid #ebebeb;
}
div.newest_job dl.job_info dt a img {
  width: 48px;
  height: 48px;
}
div.newest_job dl.job_info dd {
  margin-left: 58px;
  padding-top: 2px;
}
div.newest_job dl.job_info dd > a {
  display: block;
  color: #666666;
  line-height: 1.8em;
}
div.newest_job dl.job_info dd p {
  color: #999999;
}
div.newest_job dl.job_info dd p strong {
  color: #eb7676;
}
div.newest_job dl.job_info dd p span {
  display: block;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  word-wrap: normal;
  width: 100px;
}
div.newest_job p.links_more {
  height: 59px;
  line-height: 59px;
  border-top: 1px solid #e3e3e3;
}
