div.process_part dl {
  border-left: 1px solid #ccc;
  padding-left: 20px;
  margin-left: 5px;
}
div.process_part dl dt {
  height: 15px;
  position: relative;
}
div.process_part dl dt span {
  position: absolute;
  top: -20px;
  left: -25px;
  font-size: 12px;
  color: #999999;
}
div.process_part dl dd {
  position: relative;
  margin-bottom: 20px;
}
div.process_part dl dd i.i_point {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url("/images/icons_v2.png") no-repeat;
  background-position: -160px -60px;
  position: absolute;
  left: -26px;
  top: 3px;
}
div.process_part dl dd p.h1 {
  font-weight: bold;
}
div.process_part div.C-toggler {
  margin-left: 25px;
  position: relative;
  top: -20px;
}
