<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Cache-Control" content="no-transform ">
    <meta name="viewport" content="width=device-width">
    <!--[if lte IE 9]>
        <script src="http://s.kanzhun.com/js/html5shiv.js"></script>
        <script src="http://s.kanzhun.com/js/jquery-1.11.0.min.js"></script>
        <!--[if gt IE 9]><!-->
    <script src="http://s.kanzhun.com/js/jquery-2.1.0.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/v2/css/widget.css" />
    <title>金瓶梅奖-被欺负过</title>
    <link rel="stylesheet" href=/v2/css/activity/jinping/qifu1.css />
    <script src="/js/require.js" data-main="/v2/js/activity/jinping/qifu1.js"></script>
</head>
<body>
<div id="main" class="main">
    <div class="title-wrap">
        <img class="title" src="/images/activity/jinping/title.png" /><br>
        <img class="horzontal" src="/images/activity/jinping/vertical.png"/>
        <p>"评" 出最不靠谱公司</p>
    </div>
    <div class="middle">
        <img src="/images/activity/jinping/word1.png"/>
        <a href="#"><img src="/images/activity/jinping/word_a.png"/></a>
    </div>
    <div class="links">
        <div class="upline">
            <a href="#"><img class="link" src="/images/activity/jinping/IT.png" alt=""/></a>
            <a href="#"><img class="link" src="/images/activity/jinping/communication.png" alt=""/></a>
            <a href="#"><img class="link" src="/images/activity/jinping/ad.png" alt=""/></a>
            <a href="#"><img class="link" src="/images/activity/jinping/car.png" alt=""/></a>
            <a href="#"><img class="link" src="/images/activity/jinping/financial.png" alt=""/></a>
        </div>
        <div class="downline">
            <a href="#"><img class="link" src="/images/activity/jinping/house.png" alt=""/></a>
            <a href="#"><img class="link" src="/images/activity/jinping/manifactor.png" alt=""/></a>
            <a href="#"><img class="link" src="/images/activity/jinping/consume.png" alt=""/></a>
            <a href="#"><img class="link" src="/images/activity/jinping/education.png" alt=""/></a>
            <a href="#"><img class="link" src="/images/activity/jinping/spaecial.png" alt=""/></a>
            <a href="#"><img class="link" src="/images/activity/jinping/other.png" alt=""/></a>
        </div>
    </div>
    <div class="foot">
        <img class="word" src="/images/activity/jinping/word2.png" alt=""/><br>
        <button type="button"><img src="/images/activity/jinping/btn_sign.png" alt=""/></button>
    </div>
</div>
</body>
</html>