/* @import "../common/var";
section.group{
	display: none;
	background-color: rgba(239, 239, 239, 0.95);
	position: absolute;
	width: 100%;
	top: 45px;
	z-index: 2;
	ul{
		overflow: hidden;
		li{
			float: left;
			width: 33.3%;
			a{
				display: block;
				padding: 10px 0;
				text-align: center;
				border-right: 1px solid #fff;
				border-bottom: 1px solid #fff;
			}
		}
	}
	&.show{
		display: block;
	}
}
 */