@import "../common/var";
i{
	display: inline-block;
	&.i_pic{
		width: 15px;
		height: 13px;
		background: url('@{img_path}icon_1.png') no-repeat;
		background-size: 15px 13px;
		vertical-align: -1px;
	}
	&.i_top{
		width: 18px;
		height: 18px;
		background: url('@{img_path}icon_2.png') no-repeat;
		background-size: 18px;
		vertical-align: middle;
	}	
	&.i_more{
		width: 18px;
		height: 18px;
		background: url('@{img_path}icon_6.png') no-repeat;
		background-size: 18px;
		vertical-align: middle;
	}	
}
