@import "../common/var";

.boxstyle {
  margin: 0 5px 0 5px;
  background-color: #fff;
  border-radius: 5px;
  .box-shadow(0 2px 5px #d0d0d2);
}

.newslist{
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  
  h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5em;
    padding-bottom: 5px;

    span {
      &.green {
        color: #6ba409;
      }
      &.pink {
        color: #ec7676;
      }
      &.bluegreen {
        color: #0eb6b7;
      }
      &.blue {
        color: #3788c9;
      }
      &.yellow {
        color: #dd882d;
      }
      &.shallow {
        color: #1dbf84;
      }
      &.caramel {
        color: #c7a02b;
      }
      &.purposered {
        color: #c85fc4;
      }
    }
  }

  a {
    img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  }

  p {
    &.explain {
      color: #999999;
    }

    &.from {
      color: #cccccc;
      height: 40px;
      line-height: 40px;
      border-top: 1px solid #dfdfdd;
    }
  }
  
  /* h2.title{
      margin:10px;
      font-size: 16px;
      .more{
        font-size: 14px;
        color: #2670ad;
        float: right;
      }
    }
    dl{
      border-top: 1px solid #e1e1e1;
      background-color: #fff;
      padding: 10px;
      dt{
        overflow: hidden;
        margin-bottom: 10px;
        .news_img{
          float: left;
          margin-right: 10px;
        }
        .news_c{
          min-height: 62px;
          .t{
            margin-bottom: 5px;
          }
          .p{
            font-size: 12px;
            color: @grey;
          }
        }
      }
      dd{
        clear: both;
        margin-top: 5px;
        .i_disc{
          display: inline-block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: @green;
          vertical-align: middle;
          margin-right: 5px;
        }
        .time{
          float: right;
          color: @grey;
          font-size: 12px;
        }
      }
    } */  
}