 @import "../../common/var";

.salary_slides{
  width: 645px;
  overflow: hidden;
  *zoom: 1; 

  .slides_con{
    width: 1290px;
    .transition(margin .3s ease);
    padding-bottom: 5px;
  }

  table{
    float: left;
    table-layout: fixed;
  }
}

.salary_sort{
  padding: 10px 0;
  line-height: 26px;

  a{
    margin-right: 8px;

    &.current{
      color: @grey_99;
    }
  }

  ul{
    float: right;
  }

  li{
    width: 57px;
    height: 24px;
    line-height: 24px;
    padding-left: 5px;
    border: 1px solid #d5d5d5;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 5px;
    .transition(border-color .3s ease);
    cursor: pointer;

    &:hover{
      border: 1px solid @green;
    }

    i{
      width: 15px;
      height: 14px;
      overflow: hidden;
      background-image: @icons;
      background-repeat: no-repeat;
      display: inline-block;
      margin-right: 5px;
      vertical-align: -3px;

      &.sort_t{
        background-position: -176px -126px;
      }

      &.sort_p{
        background-position: -196px -126px;
      }
    }
    
    &.current{
      border: 1px solid @green;
      i{
        &.sort_t{
          background-position: -156px -126px;
        }

        &.sort_p{
          background-position: -217px -126px;
        }
      }
    }
  }
}

.salary_charts{
  width: 645px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  .transition(opacity .8s ease);

  th{
    height: 32px;
    vertical-align: middle;
    border-bottom: 1px solid @grey_e7;
    font-weight: normal;
    padding: 0;

    em.t_company {
      padding-left: 6px;
    }
  }

  .current{
    td{
      background-color: #d9ebd9;
    }
  }

  td{
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid @grey_e7;
    border-right: 1px solid @grey_e7;
    .transition(background-color .2s ease);

    &.chartmark {
      border-right: 0;

      span.s_max {
        display: block;
        height: 50px;
        line-height: 50px;
        float: left;
        margin-left: 5px;
      }
    }

    &.chart{
      border-right: 0;
      text-align: left;
      padding-left: 10px;
    }

    &.cmp_names {
      text-align: left;
      
      a, em {
        display: inline-block;
        padding: 0 5px;
      }
    }

    /* a.reliable {
      display: block;
      float: left;
      padding: 10px 0 0 30px;
    } */
  }

  figure{
    &.s_where {
      position: relative;
      top: 14px;
      float: left;
      height: 20px;
      background: #bcd891 url();

      span {
        position: absolute;
        width: 100px;
        text-align: right;
        top: 0;
      }

      div {
        height: 20px;
        width: 10px;
        background-color: #6a9c16;
      }
    }
  }
}

&.t_visible {
  visibility: hidden;
  opacity: 0;
}

&.c_two {
  .transition(all .6s ease);
}

&.c_one {
  .transition(all .2s ease);
}

ul.average_wage {
  position: absolute;
  background: #fff;
  border: 1px solid @grey_e7;
  width: 315px;
  z-index: 7;
  padding: 10px 10px 10px 10px;

  li {
    &.identification {
      img {
        position: absolute;
        left: 142px;
        bottom: -13px;
      }
    }

    &.where_tt {
      text-align: left;
    }
  }
}




 