@import "common/var";
//比工资入口
.pk_salaryEnter{
	background: url(../images/compare_salary_enter.jpg) no-repeat;
	height: 240px;
	margin-bottom: 20px;
	position: relative;
	a.pk_a {
		display: block;
		height: 185px;
	}
	p.form{
		position: absolute;
		margin: 0 0 0 14px;
		.ifd{
			border: 1px solid #cfcfcf;
			border-width: 2px 1px 1px 2px;
			width: 125px;
			&.err{
				box-shadow: red 0px 0px 1px;
				border: 1px solid red;
				border-width: 2px 1px 1px 2px;
			}
		}
		.btn_o_l{
			padding: 0 15px;
			width: 76px;
		}
	}
}