.grade_star_b {
  width: 118px;
  height: 22px;
  overflow: hidden;
  display: inline-block;
  font-size: 0;
  background: url(../images/manage_icons.png) no-repeat 0 0;
  vertical-align: middle;
  line-height: 0;
}
.grade_star_b i {
  display: inline-block;
  width: 118px;
  height: 22px;
  overflow: hidden;
  font-size: 0;
  background: url(../images/manage_icons.png) no-repeat 0 -24px;
}
section.co_header {
  position: relative;
  width: 990px;
  background-color: #fff;
  margin: 0 auto 0 auto;
}
section.co_header .co_logo {
  position: absolute;
  width: 150px;
  height: 150px;
  display: block;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  top: 20px;
  left: 20px;
  overflow: hidden;
  font-size: 0;
}
section.co_header .co_logo:after {
  content: '';
}
section.co_header .co_logo:after,
section.co_header .co_logo span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
section.co_header .co_logo img {
  width: 150px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
section.co_header .co_info {
  padding: 40px 0 25px 195px;
}
section.co_header .co_info h2 {
  font: bold 24px/1.5 Arial, STHeiti, Microsoft YaHei, simhei, simsun;
}
section.co_header .co_info em {
  margin: 0 8px;
  color: #e7e7e7;
}
section.co_header .msg {
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  padding: 5px 0;
  color: #999999;
}
section.co_header .msg strong {
  font-size: 18px;
  color: #666666;
}
section.co_header .msg .grade_star_b {
  vertical-align: -5px;
  *vertical-align: middle;
  margin-right: 10px;
}
section.co_header .params {
  color: #999999;
  font-size: 14px;
}
section.co_header nav {
  height: 40px;
  line-height: 40px;
  background-color: #6e6e6e;
  padding-left: 200px;
}
section.co_header nav a {
  font-size: 16px;
  padding: 0 35px;
  float: left;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #999999;
  white-space: nowrap;
}
section.co_header nav a:hover {
  text-decoration: none;
}
section.co_header nav a.current {
  background-color: #7cb228;
  border: 1px solid #7cb228;
  border-radius: 2px;
  position: relative;
  top: -1px;
  left: -1px;
}
aside.manageLeft {
  width: 204px;
}
aside.manageLeft a.send_jobs {
  background-color: #f38100;
}
aside.manageLeft a.send_jobs:hover {
  background-color: #fa8712;
}
aside.manageLeft dl {
  border: 1px solid #e7e7e7;
}
aside.manageLeft dl dt {
  height: 40px;
  line-height: 40px;
  color: #999999;
  padding-left: 15px;
}
aside.manageLeft dl dt span {
  font-size: 14px;
  vertical-align: -2px;
  margin-left: 5px;
}
aside.manageLeft dl dd {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #e7e7e7;
}
aside.manageLeft dl dd a {
  color: #000;
  display: block;
  padding-left: 50px;
}
aside.manageLeft dl dd.current {
  background-color: #ededed;
}
aside.manageLeft dl dd.current a {
  color: #7cb228;
}
aside.manageLeft dl dd.current a:hover {
  text-decoration: none;
}
label.lb_tt {
  float: left;
  margin-right: 10px;
  width: 4em;
  text-align: right;
  height: 35px;
  line-height: 35px;
}
h3.p_tt {
  padding-left: 8px;
  border-left: 4px solid #7cb228;
  line-height: 1em;
  font-size: 16px;
}
div.sorting {
  height: 46px;
  padding: 0 10px;
  line-height: 46px;
  border: 1px solid #eaeae8;
}
div.sorting p {
  float: right;
}
div.sorting p strong {
  margin: 0 5px;
}
div.sorting a {
  display: inline-block;
  padding: 0 10px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #eaeae8;
  color: #343434;
}
div.sorting a:hover,
div.sorting a.current {
  color: #7cb228;
  text-decoration: none;
}
.page_wrap {
  overflow: hidden;
  *zoom: 1;
  padding: 10px 0;
}
.f_pager {
  overflow: hidden;
  *zoom: 1;
}
.f_pager a {
  float: left;
  width: 26px;
  height: 26px;
  margin-left: 6px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  font-size: 14px;
  color: #666666;
  border-radius: 2px;
}
.f_pager a:hover {
  border-color: #85d487;
  background-color: #85d487;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.f_pager a.current {
  border-color: #67bf58;
  background-color: #67bf58;
  color: #ffffff;
  font-weight: bold;
}
.f_pager a.p_first i {
  width: 8px;
  height: 10px;
  display: block;
  margin: 9px 0 0 9px;
  *margin-left: 3px;
  text-indent: -99999px;
  background: url(../images/icons_v2.png) no-repeat -114px 0;
}
.f_pager a.p_first:hover i {
  background-position: -126px 0;
}
.f_pager a.p_prev i {
  display: block;
  margin: 8px 0 0 10px;
  *margin-left: 3px;
  text-indent: -99999px;
  width: 6px;
  height: 10px;
  background: url(../images/icons_v2.png) no-repeat -139px 0;
}
.f_pager a.p_prev:hover i {
  background-position: -150px 0;
}
.f_pager a.p_next i {
  display: block;
  margin: 8px 0 0 10px;
  *margin-left: 3px;
  text-indent: -99999px;
  width: 6px;
  height: 10px;
  background: url(../images/icons_v2.png) no-repeat -160px 0;
}
.f_pager a.p_next:hover i {
  background-position: -170px 0;
}
div.promppt_info {
  padding: 15px 0;
}
div.promppt_info p {
  padding-left: 10px;
}
ul.job_edit {
  padding: 20px 0 0 25px;
}
ul.job_edit li {
  height: 35px;
  margin-bottom: 20px;
}
ul.job_edit li label em {
  color: #d60000;
}
ul.job_edit li div.ipt_wrap {
  margin-left: 66px;
}
ul.job_edit li div.ipt_wrap p.center_line,
ul.job_edit li div.ipt_wrap em {
  display: inline-block;
  width: 36px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #cccccc;
}
ul.job_edit li div.ipt_wrap input.w_ipt {
  width: 125px;
}
ul.job_edit li dl.po_select {
  width: 330px;
}
ul.job_edit li dl.e_select {
  float: left;
  width: 145px;
}
ul.job_edit li.search_r_btn {
  padding-left: 66px;
  /*span {
        padding: 0 45px;
      }*/
}
ul.job_edit li.d_r_search span {
  padding: 0 45px;
}
div.change_select {
  height: 48px;
  padding: 0 15px;
  line-height: 48px;
  background-color: #f8f8f8;
  border: 1px solid #eaeae8;
}
div.change_select p {
  float: right;
}
div.change_select p strong {
  margin: 0 5px;
}
div.change_select a {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  margin-left: 30px;
  border: 1px solid #bedbe5;
  background-color: #ffffff;
}
div.change_select a:hover {
  text-decoration: none;
}
table.tb_resume {
  table-layout: fixed;
  border: 1px solid #ecebeb;
  border-width: 0 1px 1px 1px;
}
table.tb_resume tr.tb_tt {
  background-color: #f0f7e5;
}
table.tb_resume tr.tb_tt td {
  height: 35px;
}
table.tb_resume tr.tb_tt td p {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  word-wrap: normal;
  width: 95%;
  margin: 0 auto;
}
table.tb_resume tr.tb_tt td p.cmp_name {
  padding-left: 10px;
}
table.tb_resume tr.tb_tt a.btn_detail {
  float: right;
  width: 78px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}
table.tb_resume tr.e_detail {
  overflow: hidden;
  *zoom: 1;
}
table.tb_resume tr.e_detail td {
  position: relative;
  padding: 20px 0 10px 0;
}
table.tb_resume tr.e_detail td a.btn_yellow_b {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -13px;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
}
table.tb_resume tr.e_detail ul {
  /*&.educations {
          width: 335px;
          padding: 0 30px 0 15px;
        }*/
}
table.tb_resume tr.e_detail ul li {
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: left;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  word-wrap: normal;
}
table.tb_resume tr.e_detail ul li em {
  color: #d5d5d5;
  margin: 0 5px;
  vertical-align: 1px;
}
table.tb_resume tr.e_detail ul.experiences {
  padding-right: 130px;
  padding-left: 10px;
}
table.tb_resume th {
  height: 40px;
  background-color: #7cb228;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
}
table.tb_resume td {
  padding: 0;
  margin: 0;
  text-align: center;
  /*&.interval {
      border-bottom: 1px solid #ecebeb;
      border-top: 1px solid #ecebeb;
    }*/
  /*&.paging {
      padding-left: 15px;
      border-top: 1px solid #ecebeb;
    }*/
}
table.tb_resume td.t_left {
  text-align: left;
}
table.tb_resume td.noresult i {
  vertical-align: -11px;
}
table.tb_hadsee {
  margin-bottom: 10px;
}
table.tb_hadsee tr.hadsee_tt {
  background-color: #f0f7e5;
}
table.tb_hadsee tr.hadsee_tt:nth-child(odd) {
  background-color: #ffffff;
}
table.tb_hadsee td {
  /*border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #f3f3f3 #fff;*/
}
table.tb_hadsee td.noborder {
  border-right: none;
  color: #999999;
}
span#eerr {
  float: left;
  line-height: 35px;
  margin-left: 16px;
}
