@import "module/var";
@import "base";

section.con {
  padding: 15px 15px 0 15px;

  p {
    margin-bottom: 15px;
    font-size: 15px;
  }

  h1 {
    margin-bottom: 15px;
    color: #373737;
    font-size: 15px;
  }
}