@import "module/reset";
@import "common/common";
@import "common/var";

@page_top : 70px;

body{
  background: url("@{img-path}/q1/content_bg.jpg") no-repeat #9bc3df;
;
  background-size:100% 100%;
  overflow: hidden;
}

header{
  h3{
    line-height: 45px;
    font-size: 23px;
  }

  .logo_wrap{
    position: relative;
    .logo{
      width: 45px;
      margin: 15px;
    }
    .wrap{
      position: absolute;
      top: 15px;
      left:70px;
    }
  }



  .person{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 25%;
  }

  background-color: #4f93d0;
  height: 45px;
  color: #fff;

  /*.logo{
    position: absolute;
    width: 13%;
    margin: 3%;
    top: 0px;
    left: 0px;
  }*/
}
.wrap{
  position: relative;
  left: 10px;
}

.triangle{
  width: 0;
  height: 0;

  border:8px solid transparent;
  border-right: 15px solid #ffe628;
  position: absolute;
  left: -15px;
  top:10px;
}
.rectangle{
  background-color: #ffe628;
  border-radius: 5px;
  padding: 5px;
  width: 70px;
  font-size: 12px;
  text-align: center;
  color:#000;
}


#content{

  padding-top: @page_top;

  h2{
      font-size: 32px;
      color: rgb( 75, 142, 206 );
      font-weight: bold;
      text-align: center;
      .mb10();
  }

  .ranks{
    width: 94%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
  }

  #indu1{
    background: url("@{img-path}/result/rank_i1.png") no-repeat;
    background-size: 30px;
  }

  #indu2{
    background: url("@{img-path}/result/rank_i2.png") no-repeat;
    background-size: 30px;
  }

  #indu3{
    background: url("@{img-path}/result/rank_i3.png") no-repeat;
    background-size: 30px;
  }


  ol li{
    padding-top: 10px;
    .indu{
      margin-top: 10px;
      padding: 10px 0px 20px 40px;
        font-size: 16px;
        color: rgb( 102, 102, 102 );
        font-weight: bolder;

    }


  }


  .time{
    display: inline-block;
    float: right;

    em{
      color: #4c8fcf;
      font-weight: bolder;
      font-size: 16px;
    }
  }

}

#oper{
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  a {
    background-color: #f27506;
    color: #fff;
    width: 40%;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    padding: 8px;
    border-radius: 6px;
  }
  .share {
    float: left;
  }
  .worktime {
    float: right;
  }
}

