@import "../common/var";
.autocomplete-suggestions {
  background: #32323a;
  border-radius: 5px;
  padding: 5px; 
  cursor: default; 
  overflow: auto;
  color: #fff;
  strong{
    font-weight: bold;
    color: #007ead;
  }
}
.autocomplete-suggestion {
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: @green;
  s
  strong{
    color: #ffd;
  }
}