@import "../common/var";
@icons:url("@{img_path}icons_2.png");
//下拉菜单
dd.openmenu{
  display: none;
  max-height: none;
  width: 502px;
  padding: 20px;
  zoom: 1;
  overflow: visible;

  h2{
    font-size: 16px;
    color: @green;
    font-weight: normal;
    line-height: 1.8em;
    //background: url(../images/ugc_img_04.jpg) no-repeat left bottom;
  }
  ul{
    margin-right: -20px;
    padding-top: 10px;
  }
  li{
    position: relative;
    width: 114px;
    float: left;
    margin: 0 60px 5px 0;
    a{
      height: 30px;
      line-height: 30px;
      padding: 0;
      font-size: 15px;
      color: #fff;
      .ellipsis('ellipsis');
      width: 6em;

      &:hover,&.hadclick{
        background-color: #32323a;
        color: @green;
        i{
          background: @icons no-repeat -232px top;
        }
      }
      i{
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -2.5px;
        display: inline-block;
        width: 9px;
        height: 5px;
        background: @icons no-repeat -218px top;
      }
    }

    div{
//      display: none;
      visibility: hidden;
      position: absolute;
      z-index: 4;
      top: 30px;
      left: 0;
      width: 160px;
      border: 1px solid #bbe0d7;
      background-color: #f5f5f5;
      a{
        font-size: 14px;
        padding-left: 10px;
        line-height: 2em;
        color: @grey_79;
        white-space: nowrap;
        &:hover{
          background-color: #f5f5f5;
          text-decoration: underline;
        }
      }
    }
  }
}