@import "module/reset";
@import "common/var";

body{
  background: url("@{img-path}/end_bg.jpg")  no-repeat #5073a9;
  background-size: 100%;
}

#link{
  .a_wrap{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 90%;
    img{
      width: 45px;
      margin-right: 10px;
    }
  }
}

#cooperation{
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

#url{
  width: 30%;
  margin: 0 auto;
  margin-top: 40px;
  img{
    width: 100%;
  }
}
