html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
pre,
form,
p,
blockquote,
input,
textarea,
abbr,
article,
aside,
figcaption,
figure,
footer,
header,
mark,
meter,
menu,
nav,
output,
progress,
section,
summary,
time {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ul,
ol {
  list-style: none;
}
iframe,
a,
img,
button {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}
article,
aside,
footer,
header,
nav,
section,
figure,
figcaption {
  display: block;
}
a,
a:hover {
  text-decoration: none;
}
.clear {
  clear: both;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  overflow: hidden;
}
.none {
  display: none;
}
.t-left {
  text-align: left;
}
.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}
.inline-block {
  display: inline-block;
}
.middle {
  vertical-align: middle;
}
em,
i,
s {
  font-style: normal;
}
body {
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}
input[type=submit],
input[type=button],
input[type=text],
textarea,
button,
select {
  font-size: 1em;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body {
  background: url("../images/page4.jpg") no-repeat #9db9d6;
}
.content {
  width: 100%;
  text-align: center;
}
.content .addr {
  width: 90%;
}
@media screen and (min-height: 480px) {
  .content .addr {
    width: 90%;
    margin-top: 20px;
  }
}
.sign_wrap {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 74%;
}
.sign_wrap .wrap {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 5px;
  border: 1px solid #bfd1e4;
  border-radius: 20px;
}
.sign_wrap .wrap .sign {
  width: 96%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 16px;
  padding: 8px 0px;
  color: #739fd0;
  display: block;
  font-size: 20px;
}
.sign_wrap img {
  width: 40%;
  margin-top: 10px;
}
