<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>搜索公司页面</title>
  <!--[if lte IE 9]>
  <script src="/js/html5shiv.js"></script>
  <script src="/js/jquery-1.11.0.min.js"> </script>
  <!--[if gt IE 9]><!-->
  <script src="/js/jquery-2.1.0.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="<%= previewUrl %>/v2/css/widget.css">
  <link rel="stylesheet" href="<%= previewUrl %>/v2/css/search/search-company.css"/>
  <script>
    var CONTEXTPATH = '/';
    var require = {
      baseUrl: '/',
      urlArgs: "v=1.0.7"
    };
  </script>
  <script src="/js/require.js" data-main="/v2/js/search/search-company.js"></script>
</head>

<body class="grey-bg">
<% include ../modules/header %>
<% include ../modules/top-search.ejs %>
<% include piece/top-search-nav.ejs %>

<div class="container-search clearfix">
  <section class="s_l_con clearfix">
    <% include piece/search_conditions %>
  </section>

  <section class="s_r_con clearfix">
    <dl class="wrap_style search-options">
      <dt><a href="#">查看与 “<span>百度</span>” 相关的职位工资 &gt;</a> <strong>找到 30 个与“<span>百度</span>”相关的面试</strong></dt>
      <dd>
        筛选条件：
        <span>客服<a href="#"><i class="close_conditions"></i></a></span>
        <span>北京<a href="#"><i class="close_conditions"></i></a></span>
        <span>面试通过<a href="#"><i class="close_conditions"></i></a></span>

        <a href="#" class="ml20">清空</a>
      </dd>
    </dl>

    <div class="wrap_style mt15">
      <ul class="company_result ">
        <li>
          <a ka="com1-logo" href="/gso5855.html" class="img" target="_blank"><img src="http://img.kanzhun.com/images/logo/20150215/b17b18b0028cf7516988e41fbaa20f77.jpg" title="腾讯" alt="腾讯logo" width="97" data-bd-imgshare-binded="1"><span></span></a>
          <div>
            <a ka="com1-title" href="/gso5855.html" target="_blank">腾讯</a>
            <br>
            <p>互联网<em>|</em>深圳<em>|</em>10000人以上<em>|</em><span class="urladdress">www.tencent.com</span></p>
            <a ka="com1-review" href="/gsr5855.html" class="weird" target="_blank">点评(376)</a><em>|</em><a ka="com1-salary" href="/gsx5855.html" class="weird" target="_blank">工资(2892)</a><em>|</em><a ka="com1-interview" href="/gsm5855.html" class="weird" target="_blank">面试(2807)</a><em>|</em><a ka="com1-photo" href="/gsp5855.html" class="weird" target="_blank">照片(12)</a>
          </div>
          <dl>
            <dt>公司整体评分</dt>
            <dd><span class="np_sr_grade_start ps_start"><i style="width: 68.8px;"></i></span>4.3分</dd>
            <dd class="grey_99">平均工资&nbsp;&nbsp;￥12565</dd>
          </dl>
        </li>
        <li>
          <a ka="com2-logo" href="/gso3189.html" class="img" target="_blank"><img src="http://img.kanzhun.com/images/logo/20140623/8a657b6b56d8cfa8f0c8a672a958608f.jpg" title="淘宝网" alt="淘宝网logo" width="97" data-bd-imgshare-binded="1"><span></span></a>
          <div>
            <a ka="com2-title" href="/gso3189.html" target="_blank">淘宝网</a>
            <br>
            <p>电子商务<em>|</em>杭州<em>|</em>10000人以上<em>|</em><span class="urladdress">www.taobao.com</span></p>
            <a ka="com2-review" href="/gsr3189.html" class="weird" target="_blank">点评(133)</a><em>|</em><a ka="com2-salary" href="/gsx3189.html" class="weird" target="_blank">工资(1051)</a><em>|</em><a ka="com2-interview" href="/gsm3189.html" class="weird" target="_blank">面试(548)</a><em>|</em><a ka="com2-photo" href="/gsp3189.html" class="weird" target="_blank">照片(19)</a>
          </div>
          <dl>
            <dt>公司整体评分</dt>
            <dd><span class="np_sr_grade_start ps_start"><i style="width: 65.6px;"></i></span>4.1分</dd>
            <dd class="grey_99">平均工资&nbsp;&nbsp;￥8974</dd>
          </dl>
        </li>
        <li>
          <a ka="com3-logo" href="/gso9012.html" class="img" target="_blank"><img src="http://img.kanzhun.com/images/logo/20150215/bc36e52be88e925f53b169bf3bdbd799.jpg" title="阿里巴巴" alt="阿里巴巴logo" width="97" data-bd-imgshare-binded="1"><span></span></a>
          <div>
            <a ka="com3-title" href="/gso9012.html" target="_blank">阿里巴巴</a>
            <br>
            <p>电子商务<em>|</em>杭州<em>|</em>10000人以上<em>|</em><span class="urladdress">www.alibaba.com</span></p>
            <a ka="com3-review" href="/gsr9012.html" class="weird" target="_blank">点评(238)</a><em>|</em><a ka="com3-salary" href="/gsx9012.html" class="weird" target="_blank">工资(1943)</a><em>|</em><a ka="com3-interview" href="/gsm9012.html" class="weird" target="_blank">面试(2025)</a><em>|</em><a ka="com3-photo" href="/gsp9012.html" class="weird" target="_blank">照片(12)</a>
          </div>
          <dl>
            <dt>公司整体评分</dt>
            <dd><span class="np_sr_grade_start ps_start"><i style="width: 65.6px;"></i></span>4.1分</dd>
            <dd class="grey_99">平均工资&nbsp;&nbsp;￥10278</dd>
          </dl>
        </li>
        <li>
          <a ka="com4-logo" href="/gso11514.html" class="img" target="_blank"><img src="http://img.kanzhun.com/image/l11514.gif" title="百度" alt="百度logo" width="97" data-bd-imgshare-binded="1"><span></span></a>
          <div>
            <a ka="com4-title" href="/gso11514.html" target="_blank">百度</a>
            <br>
            <p>门户网站/搜索引擎<em>|</em>北京<em>|</em>10000人以上<em>|</em><span class="urladdress">www.baidu.com</span></p>
            <a ka="com4-review" href="/gsr11514.html" class="weird" target="_blank">点评(551)</a><em>|</em><a ka="com4-salary" href="/gsx11514.html" class="weird" target="_blank">工资(3951)</a><em>|</em><a ka="com4-interview" href="/gsm11514.html" class="weird" target="_blank">面试(3098)</a><em>|</em><a ka="com4-photo" href="/gsp11514.html" class="weird" target="_blank">照片(18)</a>
          </div>
          <dl>
            <dt>公司整体评分</dt>
            <dd><span class="np_sr_grade_start ps_start"><i style="width: 64.0px;"></i></span>4.0分</dd>
            <dd class="grey_99">平均工资&nbsp;&nbsp;￥12398</dd>
          </dl>
        </li>
        <li>
          <a ka="com5-logo" href="/gso15613.html" class="img" target="_blank"><img src="http://img.kanzhun.com/images/logo/20140809/a425e574741bb270922628558d447e79.jpg" title="苹果（APPLE）" alt="苹果（APPLE）logo" width="97" data-bd-imgshare-binded="1"><span></span></a>
          <div>
            <a ka="com5-title" href="/gso15613.html" target="_blank">苹果（APPLE）</a>
            <br>
            <p>移动互联网<em>|</em>北京<em>|</em>1000-9999人<em>|</em><span class="urladdress">www.apple.com.cn</span></p>
            <a ka="com5-review" href="/gsr15613.html" class="weird" target="_blank">点评(82)</a><em>|</em><a ka="com5-salary" href="/gsx15613.html" class="weird" target="_blank">工资(282)</a><em>|</em><a ka="com5-interview" href="/gsm15613.html" class="weird" target="_blank">面试(732)</a><em>|</em><a ka="com5-photo" href="/gsp15613.html" class="weird" target="_blank">照片(7)</a>
          </div>
          <dl>
            <dt>公司整体评分</dt>
            <dd><span class="np_sr_grade_start ps_start"><i style="width: 68.8px;"></i></span>4.3分</dd>
            <dd class="grey_99">平均工资&nbsp;&nbsp;￥13042</dd>
          </dl>
        </li>
        <li>
          <a ka="com6-logo" href="/gso3131.html" class="img" target="_blank"><img src="http://img.kanzhun.com/images/logo/20140925/3aaa7746fa42066c1dfd3912c0afb025.jpg" title="华为" alt="华为logo" width="97" data-bd-imgshare-binded="1"><span></span></a>
          <div>
            <a ka="com6-title" href="/gso3131.html" target="_blank">华为</a>
            <br>
            <p>通信设备<em>|</em>深圳<em>|</em>10000人以上<em>|</em><span class="urladdress">www.huawei.com</span></p>
            <a ka="com6-review" href="/gsr3131.html" class="weird" target="_blank">点评(1324)</a><em>|</em><a ka="com6-salary" href="/gsx3131.html" class="weird" target="_blank">工资(11664)</a><em>|</em><a ka="com6-interview" href="/gsm3131.html" class="weird" target="_blank">面试(6652)</a><em>|</em><a ka="com6-photo" href="/gsp3131.html" class="weird" target="_blank">照片(12)</a>
          </div>
          <dl>
            <dt>公司整体评分</dt>
            <dd><span class="np_sr_grade_start ps_start"><i style="width: 62.4px;"></i></span>3.9分</dd>
            <dd class="grey_99">平均工资&nbsp;&nbsp;￥13314</dd>
          </dl>
        </li>
        <li>
          <a ka="com7-logo" href="/gso3418.html" class="img" target="_blank"><img src="http://img.kanzhun.com/images/logo/20150215/0a38a76642d113655be0be299c18f736.jpg" title="京东商城" alt="京东商城logo" width="97" data-bd-imgshare-binded="1"><span></span></a>
          <div>
            <a ka="com7-title" href="/gso3418.html" target="_blank">京东商城</a>
            <br>
            <p>电子商务<em>|</em>北京<em>|</em>1000-9999人<em>|</em><span class="urladdress">www.jd.com</span></p>
            <a ka="com7-review" href="/gsr3418.html" class="weird" target="_blank">点评(197)</a><em>|</em><a ka="com7-salary" href="/gsx3418.html" class="weird" target="_blank">工资(845)</a><em>|</em><a ka="com7-interview" href="/gsm3418.html" class="weird" target="_blank">面试(1419)</a><em>|</em><a ka="com7-photo" href="/gsp3418.html" class="weird" target="_blank">照片(19)</a>
          </div>
          <dl>
            <dt>公司整体评分</dt>
            <dd><span class="np_sr_grade_start ps_start"><i style="width: 60.8px;"></i></span>3.8分</dd>
            <dd class="grey_99">平均工资&nbsp;&nbsp;￥8221</dd>
          </dl>
        </li>
        <li>
          <a ka="com8-logo" href="/gso3274.html" class="img" target="_blank"><img src="http://img.kanzhun.com/images/logo/20150215/adefd67ecf8252252b4812c6f5b4fa54.jpg" title="微软中国（Microsoft）" alt="微软中国（Microsoft）logo" width="97" data-bd-imgshare-binded="1"><span></span></a>
          <div>
            <a ka="com8-title" href="/gso3274.html" target="_blank">微软中国（Microsoft）</a>
            <br>
            <p>计算机软件<em>|</em>北京<em>|</em>1000-9999人<em>|</em><span class="urladdress">www.microsoft.com</span></p>
            <a ka="com8-review" href="/gsr3274.html" class="weird" target="_blank">点评(137)</a><em>|</em><a ka="com8-salary" href="/gsx3274.html" class="weird" target="_blank">工资(2152)</a><em>|</em><a ka="com8-interview" href="/gsm3274.html" class="weird" target="_blank">面试(518)</a><em>|</em><a ka="com8-photo" href="/gsp3274.html" class="weird" target="_blank">照片(3)</a>
          </div>
          <dl>
            <dt>公司整体评分</dt>
            <dd><span class="np_sr_grade_start ps_start"><i style="width: 68.8px;"></i></span>4.3分</dd>
            <dd class="grey_99">平均工资&nbsp;&nbsp;￥18782</dd>
          </dl>
        </li>
        <li>
          <a ka="com9-logo" href="/gso11038.html" class="img" target="_blank"><img src="http://img.kanzhun.com/images/logo/20140707/b2e45e8b1a313b9480c07c8a14d56150.jpg" title="上海大众汽车" alt="上海大众汽车logo" width="97" data-bd-imgshare-binded="1"><span></span></a>
          <div>
            <a ka="com9-title" href="/gso11038.html" target="_blank">上海大众汽车</a>
            <br>
            <p>汽车生产<em>|</em>上海<em>|</em>1000-9999人<em>|</em><span class="urladdress">www.csvw.com</span></p>
            <a ka="com9-review" href="/gsr11038.html" class="weird" target="_blank">点评(160)</a><em>|</em><a ka="com9-salary" href="/gsx11038.html" class="weird" target="_blank">工资(1806)</a><em>|</em><a ka="com9-interview" href="/gsm11038.html" class="weird" target="_blank">面试(414)</a><em>|</em><a ka="com9-photo" href="/gsp11038.html" class="weird" target="_blank" rel="nofollow">照片(0)</a>
          </div>
          <dl>
            <dt>公司整体评分</dt>
            <dd><span class="np_sr_grade_start ps_start"><i style="width: 68.8px;"></i></span>4.3分</dd>
            <dd class="grey_99">平均工资&nbsp;&nbsp;￥8950</dd>
          </dl>
        </li>
        <li>
          <a ka="com10-logo" href="/gso4119.html" class="img" target="_blank"><img src="http://img.kanzhun.com/image/l4119.gif" title="新浪" alt="新浪logo" width="97" data-bd-imgshare-binded="1"><span></span></a>
          <div>
            <a ka="com10-title" href="/gso4119.html" target="_blank">新浪</a>
            <br>
            <p>门户网站/搜索引擎<em>|</em>北京<em>|</em>500-999人<em>|</em><span class="urladdress">www.sina.com.cn</span></p>
            <a ka="com10-review" href="/gsr4119.html" class="weird" target="_blank">点评(126)</a><em>|</em><a ka="com10-salary" href="/gsx4119.html" class="weird" target="_blank">工资(1809)</a><em>|</em><a ka="com10-interview" href="/gsm4119.html" class="weird" target="_blank">面试(577)</a><em>|</em><a ka="com10-photo" href="/gsp4119.html" class="weird" target="_blank">照片(5)</a>
          </div>
          <dl>
            <dt>公司整体评分</dt>
            <dd><span class="np_sr_grade_start ps_start"><i style="width: 59.2px;"></i></span>3.7分</dd>
            <dd class="grey_99">平均工资&nbsp;&nbsp;￥9404</dd>
          </dl>
        </li>
      </ul>
    </div>


    <div class="page_wrap mt20">
      <div class="f_pager t-right fright">
        <a ka="paging1" href="/gsx3131.html" class="current">1</a>
        <a ka="paging2" href="/gsx3131p2.html" rel="nofollow">2</a>
        <a ka="paging3" href="/gsx3131p3.html" rel="nofollow">3</a>
        <a ka="paging4" href="/gsx3131p4.html" rel="nofollow">4</a>
        <a ka="paging2" href="/gsx3131p2.html" data-page="2" rel="nofollow" class="p_next"><i class="p_next">&gt;</i></a>
      </div>
    </div>
  </section>
</div>
</body>
</html>