<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Cache-Control" content="no-transform ">
  <meta name="viewport" content="width=device-width">
  <script type="text/javascript">
    var CONTEXTPATH='';
    var STATICURL='http://img.kanzhun.com';
    var require = {
      urlArgs : "v=v1.1.31"
    };
  </script>
  <!--[if lte IE 9]>
      <script src="http://s.kanzhun.com/js/html5shiv.js"></script>
      <script src="http://s.kanzhun.com/js/jquery-1.11.0.min.js"></script>
      <!--[if gt IE 9]><!-->
  <script src="http://s.kanzhun.com/js/jquery-2.1.0.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/v2/css/widget.css" />
  <title>第三方登录绑定邮箱</title>
  <link rel="stylesheet" href=/v2/css/bind_email/bind_email.css />
</head>
<body>
<% include ../modules/header %>
<div class="auto_view">
  <h2>验证邮箱</h2>
  <section class="auth">
    <p>您可以激活邮箱完成绑定。</p>
    <p class="red">注：激活验证邮箱后你才可以观看看准网全部内容</p>
    <p class="f_12 grey_66 mt15">我们已将邮件发送至邮箱：renyanhong@126.com<br>
      点击邮件内链接即可完成绑定。</p>
    <p class="mt15"><a class="auth_btn" href="#">登录验证邮箱</a></p>
    <p class="f_12 grey_66 mt15">
      稍等几分钟，若没有收到验证邮件，怎么办？<br>
      1、邮件地址填写错误？<a href="#">重新发送验证邮件；</a><br>
      2、看看是否在邮箱的垃圾邮件、广告邮件目录里；<br>
      3、稍等几分钟还未收到验证邮件？<a href="#">重新发送验证邮件；</a>
    </p>
    <p class="t-center grey_66 mt20">5秒钟后自动跳转</p>
  </section>
</div>

</body>
</html>