@import '../../css/common/var';

.embed-auth{
  section.auth{
    float: none;
    background-color: transparent;
    border-top: 0;

    aside {
      padding-top: 10px;
      p{
        padding-top: 0;
      }

    }
  }
}