<div class="ugc-con-r">
  <div class="ugc-anonymous">
    <img src="/images/v2/ugc-r-msg.gif" width="262" height="475">
  </div>

  <div class="ugc-notice">
    <p class="f_16 mb15"><i></i>温馨提示</p>
    <p class="grey_66">
      看准网非常珍视您贡献的每条信息，我们对所有信息都会进行审核，审核通过后正式发布。但是如果您发布的评论中含有如下内容，我们将会予以删除：
      <ul>
        <li>包含侮辱、攻击性、低俗、辱骂或不文明用语；</li>
        <li>涉及隐私披露，指名道姓；</li>
        <li>含有完全不相关，大量标题，无逻辑堆砌而成的内容等。</li>
      </ul>
    </p>
  </div>
</div>