@import "../common/var";
.green_btn{
   display: inline-block;
   width: 150px;
   height: 40px;
   line-height: 40px;
   font-size: 16px;
   color: #fff;
   text-align: center;
   background-color: @green;
   border: 0;
   cursor: pointer;
   &:hover{
     text-decoration: none;
   }
   &.disable{
     color: #a6a6a6;
     background-color: #f3f3f3;
     cursor: default;
   }
 }

.orange_btn{
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: @orange;
  border: 0;
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
  &.disable{
    color: #a6a6a6;
    background-color: #f3f3f3;
    cursor: default;
  }
}

