@import "../common/var";
.accountInfo_dialog{
  width: 680px;
  table{
    margin-top: 20px;
    tr{
      height: 35px;
      text-align: left;
      td{
        border: 1px solid #b3b3b3;
        padding-left: 10px;
      }
      &.current{
        td{
          background-color: #e7fff9;
        }
      }
    }
  }
}
.dialog{
  width: 400px;
  .dc_content{
    padding:20px 20px 0;
    .p1{
      em{
        font-weight: bold;
        color: @green;
      }
    }
    .i_hook{
      vertical-align: middle;
    }
  }
}