@import "../common/var";
header.person_header{
  background-color: @green;
  height: 60px;
  .inner{
    width: 990px;
    margin: 0 auto;
    color: #fff;
    .inner_r{
      float:right;
      margin-top: 20px;
      font-size: 16px;
      i{
        vertical-align: middle;
      }
      em{
        color:#6de0c3;
        margin: 0 10px;
      }
      a{
        color: #fff;
      }
    }
  }
}