@import "../common/var";
@import "icons";

h2 {
  &.r_tt {
    height: 40px;
    margin-bottom: 20px;
    line-height: 40px;
    background-color: #f3f3f4;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
  }
}

dl {
  &.infolist {
    dt {
      padding-bottom: 5px;
    }

    i {
      margin-right: 10px;
      vertical-align: -1px;
    }

    dd {
      color: @grey_99;
      margin-bottom: 20px;
      padding-left: 24px;
    }
  }
}
