@import "../../../../css/common/var";
@import "../../var";

//公司信息
div.co_header{
  background-color: #fafafa;
  .ch_t{
    font-size: 24px;
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    margin: 0 -15px;
    a{
      margin-top: 10px;
      font-size: 14px;
    }
  }
  dl.ch_c{
    overflow: hidden;
    padding: 20px 0;
    dt{
      float: left;
      width: 98px;
      height: 98px;
      border: 1px solid @grey_e7;
      img{
        width: 98px;
        height: 98px;
      }
    }
    dd{
      margin: 20px 0 0 115px;
      .f_h{
        font-size: 22px;
      }
      .f_p{

      }
    }
  }
}