@import "../../../css/common/var";
@import "../var";
@import "../modules/top-search";
@import 'piece/co-header';  //公司级页面头部样式

/*页面整体布局放这个less文件  各个模块放piece里面对应的文件*/

.f_l_con{
  float: left;
  width: 711px;
  margin-right: 15px;
}

.f_r_con{
  float: left;
  width: 264px;
}