@import "../../../../css/common/var";
@import "../../var";


.main{
    background: url("@{img}/activity/jinping/qifu01_bg.jpg")center no-repeat;
    height: 1400px;
    text-align: center;
    width: 100%;
    .title-wrap{
        padding-top: 168px;

      .horzontal{
        margin-top: -20px;
      }

      p{
        margin-top: -55px;
        padding-bottom: 50px;
          font-size: 32px;
          color: rgb( 189, 18, 0 );
          font-weight: bold;
      }
    }



    .links{
      margin-top: 20px;
      a{
        margin-right: 10px;
      }

      .downline{
        position: relative;
        top: -30px;
      }
    }


  .foot{
    .word{
      margin-bottom: 20px;
    }
    button{
      background-color: rgba(0,0,0,0);
      border: 0px;
      padding: 0px;
      outline: none;
    }
  }
}