@import "../common/var";
@icons: url(../images/icons_2.png) no-repeat;
header.page_hd{
	padding: 9px 10px;
	text-align: center;
	background-color: @green;
	position: relative;

	strong{
		font-size: 18px;
		color: #fff;
		font-weight: normal;
	}

	a{
		width: 60px;
		height: 26px;
		line-height: 26px;
		border: 1px solid #96c153;
		border-radius: 2px;
		color: #fff;
		position: absolute;

		&.fleft, &.top_back{
			left: 10px;
		}

		&.fright{
			right: 10px;
		}

		&.top_back{
			float: left;
			i{
				width: 7px;
				height: 12px;
				background: transparent @icons 0 -35px;
				display: inline-block;
				vertical-align: -1px;
				.background-size(100px);
				margin-right: 5px;
			}
		}
	}
	.menu{
		display: block;
		left: 10px;
		width: 40px;
		height: 36px;
		padding: 9px 10px 0 0;
		border: 0;
		top: 0;

		img{
			border: 1px solid #96c153;
			padding: 5px 10px;
			border-radius: 2px;
			width: 16px;
			height: 16px;
		}

		i.news_counts {
			position: absolute;
			height: 18px;
			line-height: 18px;
			text-align: center;
			padding: 0 6px;
			top: 3px;
			left: 30px;
			font-size: 12px;
			background-color: #e61e13;
			border-radius: 30px;
			color: #fff;
		}
	}	
}