@import "../common/var";

.icons_base(){
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
}

i{
	&.i{
		.icons_base;
		background-image: url(../images/icons_2.png?123);
		.background-size(100px);
	}

	&.ib{
		.icons_base;
		background-image: url(../images/icons-b.png);
		.background-size(185px);
	}

	&.i_w_n{
		.icons_base;
		background-image: url(../images/website_news_icons.png);
		.background-size(110px);
	}

	&.i_mark{
		width: 14px;
		height: 16px;
		background-position: -27px 0;
	}
	&.i_mark_h{
		width: 14px;
		height: 16px;
		background-position: -27px -20px;
	}
	//评论
	&.i-comment {
		width: 17px;
		height: 13px;
		background-position: -33px -120px;
	}
	&.i_tread{
		width: 14px;
		height: 16px;
		background-position: -42.5px -17px;
	}
	&.i_tread_h{
		width: 14px;
		height: 16px;
		background-position: -42.5px 0;
	}
	&.i_up{
		width: 21px;
		height: 11px;
		background-position: -57.5px 0;
		vertical-align: -1px;
	}
	&.i_up_h{
		width: 21px;
		height: 11px;
		background-position: -57.5px -21.5px;
		vertical-align: -1px;
	}
	&.i_nor{
		width: 21px;
		height: 11px;
		background-position: -79px -21.5px;
	}
	&.i_nor_h{
		width: 21px;
		height: 11px;
		background-position: -79px 0px;
	}
	&.i_down{
		width: 21px;
		height: 11px;
		background-position: -27.5px -62.5px;
		vertical-align: -1px;
	}
	&.i_down_h{
		width: 21px;
		height: 11px;
		background-position: -27.5px -41px;
		vertical-align: -1px;
	}
	&.i_ok{
		width: 16px;
		height: 14px;
		background-position: -52px -41.5px;
	}
	&.i_ok_h{
		width: 16px;
		height: 14px;
		background-position: -52px -61.5px;
	}
	&.i_no{
		width: 16px;
		height: 14px;
		background-position: -76px -61.5px;
	}
	&.i_no_h{
		width: 16px;
		height: 14px;
		background-position: -76px -41.5px;
	}

	&.i_hand{
		width: 15px;
		height: 17px;
		background-position: 0 -52.5px;
	}
	&.i_chat{
		width: 19.5px;
		height: 14.5px;
		background-position: 0 -72px;
	}

	&.i_edit{
		width: 15.5px;
		height: 13.5px;
		background-position: 0 -89.5px;
	}
	&.i_pic{
		width: 15.5px;
		height: 11px;
		background-position: 0 -106.5px;
	}

	&.i_thin_ok{
		width: 17px;
		height: 14.5px;
		background-position: -82.5px -77px;
	}
	&.i_thick_ok{
		width: 25.5px;
		height: 19px;
		background-position: -74.5px -94.5px;
	}
	&.i_thin_no{
		width: 11px;
		height: 11px;
		background-position: -27.5px -77px;
	}
	&.i_o_trangle{
		width: 52px;
		height: 26.5px;
		background-position: -18px -91px;
	}

	&.i_hand_b{
		width: 31px;
		height: 36.5px;
		background-position: 0 -119.5px;
	}
	&.i_totop{
		width: 41px;
		height: 41px;
		background-position: -59.5px -117.5px;
	}
	
	&.i_wb{
		width: 23px;
		height: 19px;
		background-position: 0 -159px;
	}

	&.i_rr{
		width: 21.5px;
		height: 21.5px;
		background-position: -49.5px -221.5px;
	}
	&.i_qq{
		width: 22.5px;
		height: 23.5px;
		background-position: -73px -220px;
	}	
	&.i_browse{
		width: 20.5px;
		height: 14px;
		background-position: -58.5px -162.5px;
	}
	&.i_err{
		width: 14px;
		height: 14px;
		background-position: -80.5px -162.5px;
	}
	&.i_fv{
		width: 17px;
		height: 22.5px;
		background-position: 0 -182px;
	}
	&.i_fvd{
		width: 17px;
		height: 22.5px;
		background-position: -20.5px -182px;
	}
	&.i_edit_g{
		width: 16.5px;
		height: 17px;
		background-position: -43.5px -179.5px;
		vertical-align: -3px;
	}

	&.i_man{
		width: 39px;
		height: 36px;
		background-position: 0 0;
	}
	&.i_man_h{
		width: 39px;
		height: 36px;
		background-position: 0 -42px;
	}
	&.i_wx{
		width: 47px;
		height: 36px;
		background-position: -42.5px 0;
	}
	&.i_wx_h{
		width: 47px;
		height: 36px;
		background-position: -42.5px -42px;
	}
	&.i_money{
		width: 29px;
		height: 36px;
		background-position: -97px 0;
	}
	&.i_money_h{
		width: 29px;
		height: 36px;
		background-position: -97px -42px;
	}

	&.i_book{
		width: 26px;
		height: 36px;
		background-position: -133.5px 0;
	}
	&.i_book_h{
		width: 26px;
		height: 36px;
		background-position: -133.5px -42px;
	}

	&.i_m_wx{
		width: 86px;
		height: 64px;
		background-position: 0px -84px;
	}
	&.i_m_hand{
		width: 59px;
		height: 69px;
		background-position: -125px -79.5px;
	}
	&.i_m_edit{
		width: 71px;
		height: 66px;
		background-position: 0px -150px;
	}
	&.i_m_pic{
		width: 76px;
		height: 54px;
		background-position: -108.5px -157px;
	}
	&.i_focus{
		width: 15px;
		height: 10px;
		background-position: -53.5px -77px;
	}
	&.i_collection{
		width: 16.5px;
		height: 12px;
		background-position: -0.5px -182px;
	}
	&.i_hascollection{
		width: 15.5px;
		height: 11px; 
		background-position: -22.5px -182.5px;
	}
	&.i_del{
		width: 16px;
		height: 17px; 
		background-position: -76.5px -179px;
	}
	&.i_plus{
		width: 48px;
		height: 48px; 
		background-position: 0 -196.5px;
	}
	&.i_pen{
		width: 13px;
		height: 13px; 
		background-position: -50px -200px;
		vertical-align: -1px;
	}
	&.i_set{
		width: 17px;
		height: 17px; 
		background-position: -65px -200px;
	}
	//站内消息-匿名
  &.n_anonymous {
  	width: 15px;
  	height: 12px;
  	background-position: 0 0;
  }

	//赞
  &.n_praise {
  	width: 12.5px;
  	height: 11.5px;
  	background-position: -17px 0;
  }

  //系统消息
  &.n_system {
  	width: 12.5px;
  	height: 12.5px;
  	background-position: -32px 0;
  }

  //关注
  &.n_attention {
  	width: 13px;
  	height: 10.5px;
  	background-position: -46px 0;
  }	

  //关注
  &.n_closenews {
  	width: 13px;
  	height: 13px;
  	background-position: -61px 0;
  }		

 	//提示信封
  &.n_envelope {
  	width: 21px;
  	height: 15px;
  	background-position: -61px 0;
  }		

  //委屈的看准小人
  &.n_grievance {
  	width: 35.5px;
  	height: 48px;
  	background-position: 0 -20px;
  }
}
.icon_resume{
	.icons_base;
	width:26px;
	height:33px;
	background: url(../images/icon_resume.png);
	background-size: 26px;
}
button{
	cursor: pointer;
	&.rating_l{
		width: 50px;
		height: 26px;
		background-color: #e7e7e7;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		border: 1.5px solid #d5d5d5;
		border-right: 1px solid #d2d2d2;
		.box-shadow(0 1px #eeeeee);
	}

	&.rating_r{
		width: 50px;
		height: 26px;
		background-color: #e7e7e7;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		border: 1.5px solid #d5d5d5;
		border-left: 1px solid #fff;
		.box-shadow(0 1px #eeeeee);
	}

	&.rating_m{
		width: 50px;
		height: 26px;
		background-color: #e7e7e7;
		border-width: 1.5px;
		border-style: solid;
		border-color: #d5d5d5 #d2d2d2 #d5d5d5 #fff;
		.box-shadow(0 1px #eeeeee);
	}

	&.r_selted{
		background-color: #fff;
		cursor: default;
	}
}


.grade_star{
	width: 69px;
	height: 13px;
	display: inline-block;
	font-size: 0;
	vertical-align: -2px;
	overflow: hidden;
	background: transparent url(../images/m_grade.png) no-repeat 0px 0;
	.background-size(auto 26px);

	i{
		height: 13px;
		float: left;
		background: transparent url(../images/m_grade.png) no-repeat 0 -13.5px;
		.background-size(auto 26px);

		&.s_1{
			width: 13px;
		}
		&.s_2{
			width: 27px;
		}
		&.s_3{
			width: 41px;
		}
		&.s_4{
			width: 54px;
		}
		&.s_5{
			width: 69px;
		}
	}
}

.grade_star_b{
	width: 112px;
	height: 19px;
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	overflow: hidden;
	background: transparent url(../images/rating.png) no-repeat 0px -40.5px;
	.background-size(111px);

	i{
		height: 19px;
		float: left;
		background: transparent url(../images/rating.png) no-repeat 0 -59.5px;
		.background-size(111px);
	}
}

.grade_rect{
	width: 108px;
	height: 18.5px;
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	overflow: hidden;
	background: transparent url(../images/rating.png) no-repeat 0px 0;
	.background-size(111px);

	i{
		height: 18.5px;
		float: left;
		background: transparent url(../images/rating.png) no-repeat 0 -21px;
		.background-size(111px);
	}
}


.up_trange{
	border-bottom: 1px solid #7cb228;
	text-align: center;
	height: 20px;
	i{
		width: 13px;
		height: 8px;
		display: inline-block;
		position: relative;
		background-position: -63px -187px;
		bottom: -1px;
		vertical-align: bottom;
		z-index: 1;
	}
}















