@import "../common/var";
/*seo需要用的样式*/
h1.tt{
  color: @grey;
  border-bottom: 2px solid #d9d7d7;
  font-size: 14px;
  font-weight: normal;
  margin: 15px 10px 0;
  height: 24px;

  span{
    border-bottom: 2px solid @green;
    height: 24px;
    position: relative;
    bottom: 0px;
    display: inline-block;
    padding-right: 5px;
    color: @green;
  }

  em{
    color: @grey;
  }
}

//职位详情页
div.job_h1{
  background-color: #fff;
  overflow: hidden;
  padding: 15px 20px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  h1{
    margin-right: 80px;
    font-size: 16px;
    display: block;
  }
  span{
    float: right;
    color: @blue;
    font-size: 14px;
    margin-top: 4px;
  }
  p{
    color: @grey;
    font-size: 14px;
    margin-top:8px;
  }
  a{
    position:absolute;
    top:15px;
    right:20px;
  }
}