.right-co-alias h2 {
  font-size: 13px;
  color: #2c84cc;
  width: 232px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.right-co-alias ul.info {
  border-bottom: 1px  dashed #aaaaaa;
  padding: 10px 0px;
  margin-bottom: 20px;
}
.right-co-alias ul.info li {
  width: 232px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.right-co-alias ul.info span.blod {
  font-weight: bold;
  padding-right: 10px;
}
.right-co-alias ul.info span.out {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.right-co-alias h3 {
  font-size: 15px;
  margin-bottom: 10px;
}
.right-co-alias ul.items {
  overflow: hidden;
  padding: 10px 0px;
}
.right-co-alias ul.items li {
  float: left;
  margin-right: 10px;
  background-color: #35c2b6;
  color: #fff;
  padding: 2px 5px;
}
.right-co-alias dl.co-alias-info {
  overflow: hidden;
}
.right-co-alias dl.co-alias-info dt {
  float: left;
}
.right-co-alias dl.co-alias-info dt img {
  width: 66px;
  height: 66px;
  border: 1px solid #cccccc;
  padding: 1px;
}
.right-co-alias dl.co-alias-info dd {
  margin-left: 80px;
}
.right-co-alias .co-alias-rank {
  text-align: center;
  background-color: #f6f6f6;
  padding: 10px;
}
.right-co-alias .co-alias-rank .orange {
  color: #fb7200;
}
.right-co-alias .co-alias-tabs {
  margin-top: 20px;
}
.right-co-alias .co-alias-tabs dt {
  margin: 0 -15px;
  overflow: hidden;
  white-space: nowrap;
  background-color: #f8f8f8;
}
.right-co-alias .co-alias-tabs dt span {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  width: 87px;
  border-right: 1px solid #eeeeee;
  display: inline-block;
  padding: 12px 0;
  text-align: center;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #ffffff, #f8f8f8);
  background-image: -moz-linear-gradient(top, #f8f8f8, #ffffff, #f8f8f8);
  background-image: -moz-linear-gradient(to bottom, #f8f8f8, #ffffff, #f8f8f8);
  background-image: -o-linear-gradient(to bottom, #f8f8f8, #ffffff, #f8f8f8);
  background-image: linear-gradient(to bottom, #f8f8f8, #ffffff, #f8f8f8);
  background-repeat: repeat;
}
.right-co-alias .co-alias-tabs dt span small {
  font-size: 12px;
  color: #999;
}
.right-co-alias .co-alias-tabs dt span.current {
  cursor: default;
  background: #fff;
  border-top: 2px solid #7cb228;
  border-bottom: 1px solid #fff;
}
.right-co-alias dd.co-alias-salary {
  padding: 15px 0 0;
  line-height: 2em;
}
.right-co-alias dd.co-alias-salary li em {
  float: right;
  color: #d60000;
}
.right-co-alias dd.co-alias-salary .jd-list-more {
  margin: 0 -15px;
  padding-top: 15px;
}
.right-co-alias dd.c_s_result_detail h2 {
  padding-top: 5px;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: normal;
}
.right-co-alias dd.c_s_result_detail h2 span {
  font-weight: bold;
}
.right-co-alias dd.c_s_result_detail p.view_address {
  padding-bottom: 20px;
}
.right-co-alias dd.c_s_result_detail p.view_address i.cmp_address {
  margin-right: 5px;
  vertical-align: -2px;
}
.right-co-alias dd.c_s_result_detail .c_s_result_text {
  line-height: 2em;
  color: #666666;
}
.right-co-alias dd.c_s_result_detail .c_s_result_text em {
  color: #333333;
}
.right-co-alias dd.c_s_result_detail dt {
  float: left;
  width: 55px;
  color: #333333;
  font-weight: bold;
}
.right-co-alias dd.c_s_result_detail dd {
  margin-left: 55px;
}
.right-co-alias dd.c_s_result_detail div.u_c_s {
  padding: 15px 0;
}
