.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.green{color:#7cb228}
.grey{color:#999}
.blue{color:#007ead}
input:-webkit-input-placeholder{color:#999}
input:-moz-placeholder{color:#999}
input:-ms-input-placeholder{color:#999}
.cube{-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0)}
.display-flex{display:-webkit-flex;display:flex}
.box-sizing{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
