@import "var";
//margin
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb50{margin-bottom: 50px;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pl30{padding-left: 30px;}
.pl20{padding-left: 20px;}
.p20{padding: 20px;}
.p10{padding: 10px;}

//font
.f_12{
  font-size: 12px;
}
.f_14{
  font-size: 14px;
}
.f_16{
  font-size: 16px;
}


//color
.grey_88{
  color: #888888;
}
.grey_99{
  color: @grey_99;
}
.blue{
  color: @blue;
}
.red{
  color: @red;
}
.def{
  color: @def;
}
.green{
  color: @green;
}

body{
  font: normal 14px/1.5 Arial,STHeiti, Microsoft YaHei, simsun, Helvetica, sans-serif;
  color: @def;
  background-color: #f6f6f6;
}

//links
a{
  color: @blue;
  outline-style: none;

  &.a_grey{
    color: @grey_99;
  }

  &.a_green{
    color: @green;
  }

  &.a_underline {
    text-decoration: underline;
  }
  &:hover{
    text-decoration: none;
  }
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}


