@import "common/var";

span.pic_header{
  display:inline-block;
  width:70px;
  height: 70px;
  border: 3px solid @grey_border;
  border-radius: 38px;
  overflow: hidden;
}
span.pic_header_large{
  display:inline-block;
  width:90px;
  height: 90px;
  border: 3px solid @grey_border;
  border-radius: 48px;
  overflow: hidden;
}
span.pic_header_small{
  display:inline-block;
  width: 52px;
  height: 52px;
  border: 3px solid @grey_border;
  border-radius: 29px;
  overflow: hidden;
}
section.search{
  padding:10px;
  background: #cac9cf;
  button{
    background: transparent;
  }
}

span.is_verified{
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: -35px;
}
ul.searchList{
  margin-top:10px;
  &>li{
    margin: 0 10px 10px;
    background: @white;  
    border: 1px solid @grey_border;  
    .title{
      background:#f1f1f1;
      padding:10px;
      position: relative;
      min-height: 75px;
      .l{
        h2{
          font-size: 16px;
          color: @green;
          line-height: 1.5;
        }
        p{
          color:@grey;
          line-height: 1.5;
        }
      }
      .r{
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
    .content{
      padding:10px;
      border-top: 1px solid @grey_border;
      ul.label{
        li{
          float: left;
          margin: 0 10px 10px 0;
        }
      }
      p{
        clear:both;
        color: @grey;
      }
    }
    .bottom{
        clear:both;
        border-top: 1px solid @grey_border;
        padding:10px;
        overflow: hidden;
      p{
        float: right;
        color: #ccc;
      }
    } 
  }
}

.bottom_download{
  text-align: center;
  padding-top:10px;
}

.noResult{
  padding-top:30px;
  margin:0 auto;
  width:320px;
  position: relative;
  .l{
    position: absolute;
    left:10px;
    font-size: 26px;
    color: @grey;
  }
  .r{
    margin-left: 90px;
    h2{
      font-size: 16px;
      color: @grey;
    }
    p{
      color: #a8a8a8;
      line-height: 1.5;
    }
  }
}

/*boss详情页*/
div.top {
  overflow: hidden;
  background-color: #2e3132;
  padding: 15px 0;
  position: relative;


  img {
    display: block;
    width: 38px;
    height: 38px;
    margin: 0 10px;
    float: left;
  }

  p {
    float: left;
    color: #fff;
    font-size: 14px;
    line-height: 1.4em;
    //padding-top: 2px;
    vertical-align: middle;

    em {
      display: inline-block;
      
      vertical-align: middle;

      &.greater {
        width: 7.1em;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        word-wrap: normal;
      }
    }
  }

  aside {
    position: absolute;
    right: 15px;
    top: 20px;
    a {
      width: 80px;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      color: #fff;
    }
  }
}
header.boss_header{
  height: 126px;
  padding-top: 30px;
  background: url(../images/bg_boss.jpg);
  background-size: 100%;
  color: @white;
  text-align: center;
  position: relative;
  .go_back{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  h1{
    font-size: 18px;
    clear:both;
    white-space: nowrap;
    padding: 0 10px;
  }
  p{
    font-size:16px;
    margin-top: 8px;
  }
  .pic_header_large{
    margin-top: 10px;
  }
  .share{
    position: absolute;
    bottom: 30px;
    right: 20px;
    display: inline-block;
    color: @white;
    .i_share{
      margin-bottom: 3px;
    }
    em{
      font-size: 14px;
    }
  }
}
h2.h{
  margin:30px 0 10px 10px;
  color:@green;
}
section.detail_content{
  padding:10px;
  background: @white;
  overflow: hidden;
  color:@grey;
  >a{
    display:block;
    overflow: hidden;
    position: relative;
    color:@grey;    
  }
  ul.label{
    li{
      float: left;
      margin: 0 10px 10px 0;
    }
  } 
  >p{
    clear:both;
    &.list{
      padding: 10px 0;
      border-top: 1px solid @grey_border;
      .i_addr{
        margin-left: 3px;
      }
    }
  }
  .l{
    float: left;
  }
  .c{
    float: left;
    .name{
      font-size: 16px;
      color: #000;
    }
    .title{
      font-size: 16px;
      color: @green;      
    } 
  }
  .r{
    float:right;
    .i_right{
      position: absolute;
      top:50%;
      right:10px;
      margin-top: -6px;
    }
  } 
  h2{
    padding:10px 0;
    border-bottom: 1px solid @grey_border;
    color:@grey;
    font-size: 15px;
  }
  dl.exp{
    /*border-left: 2px solid @green;*/
    margin-left:20px;
    margin-top:10px;
    position: relative;
    color: @grey;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 50px;
      left:-1px;
      width: 2px;
      background: @green;
    }
    dt{
      position: absolute;
      left:-16px;
      margin-top: -5px;
      .i_circle_2{
        line-height: 33px;
        text-align: center;
        color: @white;
      }
    }
    dt:nth-child(1){
      left:-11px;
    }
    dd{
      border: 1px solid @grey_border;
      padding:13px 10px 13px 10px;
      margin: 0 0 20px 30px;
      position: relative;
      background: #f3f3f3;
      top:-8px;
      .i_triangle_greyL{
        position: absolute;
        top:10px;
        left:-10px;
      }
    }
    dd:nth-child(2){
      padding:0;
      border:0;
      height:20px;
      background: @white;
    }
    :last-child{
      margin-bottom: 0;
    }    
  }
}

/*站台页*/
h1.h1_station{
  background: #c9c8ce;
  height: 36px;
  line-height: 36px;
  padding:0 10px;
}

ul.stationList{
  margin-top:10px;
  &>li{
    margin: 0 10px 10px;
    background: @white;  
    border: 1px solid @grey_border; 
    color:@grey; 
    .title{
      background:#f4ede7;
      padding:10px;
      position: relative;
      min-height: 75px;
      .l{
        h2{
          line-height: 2;
          color: @grey;
          strong{
            font-size: 18px;
            color: @orange;
            font-weight: normal;
          }
        }
        p{
          line-height: 1.5;
        }
      }
      .r{
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
    .content{
      padding:10px;
      border-top: 1px solid @orange;
      ul.label{
        li{
          float: left;
          margin: 0 10px 10px 0;
        }
      }
      p{
        clear:both;
        color: @grey;
      }
    }
  }
}

/*转发出的站台*/
.rollStationContent{
  margin:0 10px;
  border: 1px solid @grey_border;
  color: @grey;
  .title{
    background:#e1f2ee;
    padding:10px;
    position: relative;
    min-height: 75px;
    .l{
      h2{
        line-height: 2;
        color: @green;
        font-size: 18px;
      }
      p{
        line-height: 1.5;
      }
    }
    .r{
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  .content{
    background: @white;
    padding:10px;
    >ul.label{
      border-top:1px solid @grey_border;
      padding-top: 10px;
      li{
        float: left;
        margin: 0 10px 10px 0;
      }
    }
    p{
      clear:both;
      color: @grey;
    } 
    >dl{
      dt{
        border-top:1px solid @grey_border;
        padding-top: 10px; 
        margin-top: 10px;
        font-size: 16px;
        color: @green;
        line-height: 2;      
      }
    }       
  }
}

/*站台流程页*/
body>h2{
  line-height: 1.5;
}
section.process_content{
  background: @white;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  border-top:1px solid @grey_border;
  border-bottom:1px solid @grey_border;  
  overflow: hidden;
  position: relative;
  .l{
    float:left;
    .status{
      display: block;
      text-align: center;
      color: @orange;
    }
    .error{
      color:#ff3b2f;
    }
  }
  .r{
    float:left;
    margin-left: 10px;
    h3{
      font-size: 16px;
      color: @green;
    }
    .time{
      color: #ccc;
    }
    .show{
      width: 220px;
      padding:10px 5px;
      border: 1px solid @grey_border;
      border-radius: 4px;
      background: #f1f1f1;
      position: relative;
      .i_triangle_greyT{
        position: absolute;
        top:-10px;
        left:20px;
      }
    }
  }
  >ul{
    color: @grey;
    li{
      height: 48px;
      line-height: 48px;
      border-bottom: 1px solid @grey_border;
      label{
        width: 60px;
        display: inline-block;
        color: @black;
      }
      input{
        color:@grey;
        width: 70%;
        border: 0;
      }
    }
    li:last-child{
      border-bottom: 0;
    }
  }
  >a{
    display: block;
    color: @grey;
    .prompt{
      padding:15px 0;
    }
    .i_right{
      position: absolute;
      top:50%;
      right:20px;
      margin:-6px;
    }
  }
}

//转发提示
section.selectdown {
  height: 100%;
  background: url(../images/001_03.png) no-repeat left top; 
  .background-size(100%);
}
.mask{
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
}
.transmitDialog{
  position: fixed;
  z-index: 10;
  top: 150px;
  left: 50%;
  margin-left: -128px;
  margin-top: -61px;
  background: url(../images/oval_bg.png) no-repeat;
  background-size: 257px;
  width: 257px;
  height: 122px;
  i.arrows{
    display: inline-block;
    background: url(../images/arrows.png) no-repeat;
    background-size: 63px;
    width: 63px;
    height: 65px;
    position: absolute;
    top: -70px;
    right: -5px;
    -webkit-animation: arrowsUp 1s infinite linear;
  }
  p{
    margin-top: 40px;
    color: #fff;
    text-align: center;
  }
}
@-webkit-keyframes arrowsUp{
  0%{    
    -webkit-transform: translate(0,0);
  }
  50%{
    -webkit-transform: translate(10px,-10px);
  }
  100%{
    -webkit-transform: translate(0,0);
  } 
}

section{
  &.download2{
    background: url(../images/download-bg.jpg) no-repeat;
    .background-size(100%);
    min-height: 415px;
    padding: 0 10px;

    p{
      &:nth-of-type(1){
        font-size: 14px;
        height: 135px;
        color: #ffffff;
        padding: 45px 0 0 0px;
        width: 170px;
      }

      &.dl_btn{
        img{
          width: 126px;
          height: 38px;
        }
      }

      &:nth-of-type(4){
        padding: 5px 0;
        color: #797979;

        strong{
          color: #03a491;
        }
      }

      &:nth-of-type(5){
        color: #797979;
        background-color: #e1e3e2;
        padding: 5px;
        border-radius: 2px;

      }
    }
  }

  &.download{
    position: relative;
    height: 100%;
    background: url(../images/001_02.png) no-repeat left top; 
    .background-size(100%);
    min-height: 415px;

    header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 9px 0;
    }

    h1{
      font-size: 22px;
      color: #ffffff;
      padding: 30% 0 0 15px;
    }

    p{
      &:nth-of-type(1){
        font-size: 14px;
        height: 43%;
        color: #ffffff;
        padding: 10% 0 0 15px;
        width: 160px;
      }

      &.dl_btn{
        text-align: center;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; 
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;

        a{
          display: block;
          background-color: #fff;
          border-radius: 5px;
          color: @green;
          height: 40px;
          line-height: 40px;
          text-align: center;
          -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
          -moz-box-flex: 1;         /* OLD - Firefox 19- */
          -webkit-flex: 1; 
          -ms-flex: 1;              /* IE 10 */
          flex: 1;

          i {
            display: inline-block;
            font-size: 0;
            line-height: 0;
            vertical-align: middle;
            margin-right: 7%;
            margin-top: -4px;
          }
        }

        a.iphone {
          margin: 0 15px;
          i {
            width: 17px;
            height: 20.5px;
            background: url(../images/imgs.png) no-repeat left top;
            .background-size(37.5px, 20.5px);

          }
        }

        a.android {
          margin-right: 15px;
          i {
            width: 17.5px;
            height: 20.5px;
            background: url(../images/imgs.png) no-repeat -20px top;
            .background-size(37.5px, 20.5px);
          }
        }
      }


    }
  }
}

body.download {
  background: url(../images/002_05.jpg) repeat-y center top;
}
