@import "../../common/var";

dl.interview_detail {
  overflow: hidden;
  *zoom: 0;

  & > dt {
    float: left;
    position: relative;

    margin-top: 10px;
    img {
      width: 56px;
      height: 56px;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 56px;
      height: 56px;
      background: url(../images/positionimgs/po_imgs1.png) no-repeat left top;
    }
  }

  & > dd {
    margin-left: 70px;

    &.i_tt {
      overflow: hidden;
      *zoom: 1;

      em {
        display: block;
        float: left;
      }

      h3 {
        float: left;
        margin-left: 10px;
        font-size: 14px;
        font-weight: normal;
      }
    }
    
    &.i_con {
      position: relative;
      padding: 15px;
      border: 1px solid @grey_e7;
      border-radius: 5px;

      & > span {
        &.doubletriangle {
          position: absolute;
          width: 0;
          height: 0;
          line-height: 0;
          font-size: 0;
          overflow: hidden;
        }
        
         &.triangleEdge {
          left: -10px;
          top: 10px;
          border-width: 10px 10px 10px 0;
          border-style: dashed solid;
          border-color: transparent @grey_e7 transparent  transparent; 
        }
        
        &.triangleCon {
          left: -9px;
          top: 10px;
          border-width: 10px 10px 10px 0;
          border-style: dashed solid;
          border-color: transparent #fff transparent  transparent; 
        } 
      }

      h2 {
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: normal;

        a.cmp_logos {
          display: inline-block;
          width: 30px;
          height: 30px;
          padding: 2px;
          margin-right: 10px;
          background-color: #fff;
          border: 1px solid #E7E7E7;
          font-size: 0;
          text-align: center;
          overflow: hidden;
          vertical-align: middle;

          img {
            width: 30px;
            display: inline-block;
            vertical-align: middle;
          }

          span {
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
          }
        }
      }

      strong {
        display: block;
        padding-bottom: 5px;
      }

      dl.i_questions {
        overflow: hidden;
        *zoom: 1;

        dt {
          float: left;
        }

        dd {
          margin-left: 55px;
        }
      }

      p.comments {
        em.line {
          color: @grey_e7;
        }
      }

      div.i_filterblur {
        height: 200px;
        background: url(../images/positionimgs/po_imgs3.jpg) no-repeat left center;
        padding-top: 1px;

        div {
          &.nologin {
            margin-top: 25px;
          }

          &.send_info {
            width: 260px;
            margin: 0 auto;
            padding: 20px 0 20px 120px;
            text-align: center;
            border: 1px solid #cfcfcf;
            background: #fff url(../images/ugc_interrupt.jpg) no-repeat 15px bottom;

            p {
              &.tt {
                padding-bottom: 5px;
              }
            }
          }

          &.login_register {
            width: 350px;
            margin: -6px auto 0 auto;
            padding: 20px 0 0 0;
            background-color: #fff;
            border: 1px solid #cfcfcf;

             h5 {
              font-weight: normal;
              font-size: 14px;
              text-align: center;
            } 

            ul {
              padding-left: 16px;
            }

            li {
              &.l_other {
                height: 90px;
                margin: 15px 0 5px 0;
                background: url(../images/ugc_interuptline.jpg) no-repeat right center;

                a {
                  display: inline-block;
                  position: relative;
                  width: 46px;
                  font-size: 0;
                  height: 46px;
                  border-radius: 30px;
                  background-color: #f2f2f2;
                  text-align: center;
                  margin-right: 10px;
                  .transition(top .3s ease);
                
                  i{
                    display: inline-block;
                    height: 23px;
                    margin-top: 11px;
                    background-image: url(../images/auth.png);
                    background-repeat: no-repeat;
                
                    &.qq{
                      background-position: -63px 0;
                      width: 22px;
                    }
                
                    &.rr{
                      background-position: -87px 0;
                      width: 23px;
                    }
                
                    &.wb{
                      background-position: -114px 0;
                      width: 29px;
                    }
                  }
                
                  &:hover{
                    top: -2px;
                  }
                }
              }

              &.options {
                padding-top: 45px;
              }
            }

          }
        }
      }
    }
  }
}
//邮箱打断
div.bind_email {
  width: 408px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  h3{
    font-size: 22px;
    font-weight: normal;
  }
}
.auth_btn{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 322px;
  height: 42px;
  border: 0;
  background-color: @green;
  color: #fff;
  line-height: 42px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 2px;
  .transition(background-color .2s ease);

  &:hover{
    background-color: #96ca46;
    text-decoration: none;
  }
}
