@import "../../common/var";
/* 领域页面的common */

body.field_bg {
	background-color: #eaeaea;
}

div {
	&.f_container {
		width: 990px;
		margin: 25px auto 0 auto;
	}

	//有边带阴影的盒子外形
	&.wrap_style {
		padding: 0 15px;
		border: 1px solid @grey_dc;
		background-color: #ffffff;
		.box-shadow(0 1px 0 #e6e6e6);
	}
}

section {
	&.f_l_con {
		float: left;
		width: 711px;
		margin-right: 15px;
	}
	
	&.f_r_con {
		float: left;
		width: 264px;
	}
}

//标题
.f_tt {
	padding-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid #e5e5e5;

	a.seemore {
		font-weight: normal;
		font-size: 14px;
	}
}

//链接的颜色变化
a {
	&.links {
		color: #2c84cc;

		&:hover {
			color: #2472b4;
			text-decoration: none;
		}
	}

	&.grey_33 {
		color: @grey_33;
	}

	&.grey_66 {
		color: @grey_66;
	}

	&.hover_green {
		color: @grey_66;

		&:hover {
			color: #64b46b;
			text-decoration: none;
		}
	}
}

//排列序号
i {
	&.s_serial_num {
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 4px;
		text-align: center;
		line-height: 15px;
		overflow: hidden;
		color: #fff;
		background-color: #cccccc;
	}

	&.b_serial_num {
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 4px;
		text-align: center;
		line-height: 20px;
		overflow: hidden;
		color: #fff;
		background-color: #cccccc;
	}

	&.serial_num_red {
		background-color: #e85253;
	}

	&.serial_num_blue {
		background-color: #4a9ee2;
	}

	&.serial_num_green {
		background-color: #67bf58;
	}
}

//分数标签
strong.score {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
  background-color: #67bf58;
  color: #ffffff;
  border-radius: 2px;
}

//分享
a.share_to_all {
	color: @grey_66;

	&:hover {
	  color: @grey_66;
	  text-decoration: none;

	  i {
	    background-position: -10px 0;
	  }
	}
}

