.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pl10 {
  padding-left: 10px;
}
.pl20 {
  padding-left: 20px;
}
.p20 {
  padding: 20px;
}
.p10 {
  padding: 10px;
}
.blue {
  color: #53cac3;
}
.red {
  color: #ff5800;
}
.def {
  color: #262c2f;
}
.white {
  color: #ffffff;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
/* //placeholder
input:-webkit-input-placeholder { color:@placeholder; }
input:-moz-placeholder { color:@placeholder; }
input:-ms-input-placeholder { color:@placeholder; } */
.cube {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.display-flex {
  display: -webkit-flex;
  display: flex;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font: normal 14px/1.5 Arial, Helvetica, "Microsoft YaHei", STHeiti, "Droid Sans Fallback", sans-serif;
  color: #797979;
  overflow-x: hidden;
  background-color: #e9efef;
  height: 100%;
}
a {
  color: #343434;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a.blue {
  color: #53cac3;
}
h1,
h2,
h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: #e9efef;
}
.content {
  padding-bottom: 60px;
}
