<!-- 按标签查看更多职位面试 -->
<section class="basis_tags_search wrap_style mb15">
    <dl class="b_t_s_nav">
        <dt><a href="javascript:;" class="links">查看全部&gt;</a></dt>
        <dd>
            <a href="javascript:;">按职位查看点评</a><em>|</em><a href="">按标签查看点评</a>
        </dd>
    </dl>
    <div class="con js-panel">
        <a href="">运营经理</a><a href="">运营</a><a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a>
    </div>
    <div class="con js-panel none">
        <a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a><a href="">运营经理</a>
    </div>
</section>
<!-- 按标签查看更多职位面试 -->