<!--公司模块-b端入口-->
<div class="hrEnter_part mb15">
    <p>您是这家公司的HR？赶快来入驻您的企业吧！</p>
    <p class="f_12 grey_66">成功入驻企业，可以管理企业信息，添加产品与服务，免费发布并管理招聘职位...</p>
    <a class="hre_bt def" href="#">立即入驻</a>
    <a class="bt_close" href="javascript:;"></a>
</div>
