<!--点评打分-->

<div class="wrap_style co-review-grade mt15">
  <h2><b>“你在这里工作过？”</b>分享你的经验，帮助求职者看得更准！</h2>

  <dl>
    <dt><img src="http://img.kanzhun.com/image/l55255.gif" alt=""></dt>
    <dd>
      <div class="form">
        <h3>易宝支付</h3>
        <div>
          <a href="#">
            <img src="../../../../images/v2/large_start.jpg" alt=""/><br/>
          </a>
          <p class="grey_99 mt5">点击星星为公司打分</p>
        </div>
        <textarea class="js_textarea_enter" data-url="/test" cols="30" rows="10"></textarea>
      </div>

      <div class="link">
        <a href="#">+晒晒你的工资</a>
        <a href="#">+发一条面经</a>
        <a href="#">+发一张公司靓照</a>
      </div>
    </dd>
  </dl>
</div>