<!--公司模块-右侧带星星的公司列表-->

<div class="wrap_style">
  <h2 class="f_tt mt20 mb15">汽车信息领域热门公司</h2>
  <dl class="hot_cmp">
    <dt>
      <a href=""><img src="http://img.kanzhun.com/image/l55255.gif" alt=""><span></span></a>
    </dt>
    <dd>
      <p><a href=""  class="links grey_33">易车网</a></p>
      <span class="green_s_star mr10"><i style="width: 57px;"></i></span><em class="f_12 grey_99">195条点评</em>
    </dd>
  </dl>
  <dl class="hot_cmp">
    <dt>
      <a href=""><img src="http://img.kanzhun.com/image/l55255.gif" alt=""><span></span></a>
    </dt>
    <dd>
      <p><a href=""  class="links grey_33">易车网</a></p>
      <span class="green_s_star mr10"><i style="width: 57px;"></i></span><em class="f_12 grey_99">195条点评</em>
    </dd>
  </dl>
  <dl class="hot_cmp">
    <dt>
      <a href=""><img src="http://img.kanzhun.com/image/l55255.gif" alt=""><span></span></a>
    </dt>
    <dd>
      <p><a href=""  class="links grey_33">易车网</a></p>
      <span class="green_s_star mr10"><i style="width: 57px;"></i></span><em class="f_12 grey_99">195条点评</em>
    </dd>
  </dl>
  <dl class="hot_cmp">
    <dt>
      <a href=""><img src="http://img.kanzhun.com/image/l55255.gif" alt=""><span></span></a>
    </dt>
    <dd>
      <p><a href=""  class="links grey_33">易车网</a></p>
      <span class="green_s_star mr10"><i style="width: 57px;"></i></span><em class="f_12 grey_99">195条点评</em>
    </dd>
  </dl>
  <dl class="hot_cmp">
    <dt>
      <a href=""><img src="http://img.kanzhun.com/image/l55255.gif" alt=""><span></span></a>
    </dt>
    <dd>
      <p><a href=""  class="links grey_33">易车网</a></p>
      <span class="green_s_star mr10"><i style="width: 57px;"></i></span><em class="f_12 grey_99">195条点评</em>
    </dd>
  </dl>
</div>