i.i-click {
  background-image: url("../../images/news/icons-v2.png");
  background-repeat: no-repeat;
  -webkit-background-size: 18px;
  -moz-background-size: 18px;
  -o-background-size: 18px;
  background-size: 18px;
  width: 18px;
  display: inline-block;
  vertical-align: middle;
}
i.i-marked {
  height: 13px;
  background-position: 0 -14.5px;
}
i.i-mark {
  height: 13px;
}
i.i-commented {
  height: 13px;
  background-position: 0 -44.5px;
}
i.i-comment {
  height: 13px;
  background-position: 0 -29.5px;
}
i.i-shared {
  width: 12px;
  height: 14.5px;
  background-position: 0 -77.5px;
}
i.i-share {
  width: 12px;
  height: 14.5px;
  background-position: 0 -60.5px;
}
.big-btn {
  border: 1px solid #cccccc;
  padding: 8px 0;
  text-align: center;
  color: #999;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e7e7e7);
  display: block;
}
.big-btn img {
  width: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
.big-btn.back-to-top img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
