<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>公司工资</title>
  <!--[if lte IE 9]>
  <script src="/js/html5shiv.js"></script>
  <script src="../js/jquery-1.11.0.min.js"> </script>
  <!--[if gt IE 9]><!-->
  <script src="/js/jquery-2.1.0.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="<%= previewUrl %>/v2/css/widget.css">
  <link rel="stylesheet" href="<%= previewUrl %>/v2/css/ugc/ugc-main.css">
  <script>
    var CONTEXTPATH = '/';
    var require = {
      baseUrl: '/',
      urlArgs: "v=1.0.7"
    };
  </script>
  <!--<script src="/js/require.js" data-main="/v2/js/company/view.js"></script>-->
</head>

<body class="field_bg">
<% include ../modules/header %>

<div class="container-ugc clearfix">
  <div class="ugc-con-l">
    <div class="ugc-main">
      <p class="ugc-begin">您要发布一条：</p>

      <div class="ugc-main-tabs">
        <ul class="u-m-selector">
          <li><a href="/v2/ejs/ugc/main-review">公司点评</a></li>
          <li><a href="/v2/ejs/ugc/main-interview">面试经验</a></li>
          <li class="current"><a href="/v2/ejs/ugc/main-salary">工资信息</a></li>
          <li><a href="/v2/ejs/ugc/main-photo">公司照片</a></li>
        </ul>

        <div class="u-m-panel">
          <figure>
            <img src="/images/blank.gif" class="f-salary">
            <p>匿名发布您的面试经历。 <br/>
              真实的记录面试感受。</p>
          </figure>

          <p class="f_18">就职的公司：</p>

          <ul class="u-m-form-control pt15">
            <li class="col-label-4">
              <label>公司简称</label>
              <input type="text" class="ifd err" placeholder="请输入，如“百度”">
            </li>
            <li class="col-label-4">
              <label>所在城市</label>
              <input type="text" class="ifd" placeholder="请输入，如“北京”">
              <p class="err"><i></i>还没有输入所在城市</p>
            </li>
            <li class="col-label-4">
              <label>当前状态</label>
              <button class="radio radio-checked" type="button">在职 <i></i></button><button class="radio" type="button">离职</button>
            </li>
            <li class="col-label-4">
              <label>入职年份</label>
              <dl class="select select_s">
                <dt>
                  <input type="hidden" name="workBeginDateYear" value="请选择" class="v" data-necessary="1">
                  <input type="button" value="年" readonly="readonly"><span class="btn"><i></i></span>
                </dt>
                <dd>
                  <a href="javascript:;" rel="nofollow" data-val="2015">2015年</a>
                  <a href="javascript:;" rel="nofollow" data-val="2014">2014年</a>
                </dd>
              </dl>
            </li>
            <li class="col-label-4">
              <label>离职年份</label>
              <dl class="select select_s">
                <dt>
                  <input type="hidden" name="workBeginDateYear" value="请选择" class="v" data-necessary="1">
                  <input type="button" value="年" readonly="readonly"><span class="btn"><i></i></span>
                </dt>
                <dd>
                  <a href="javascript:;" rel="nofollow" data-val="2015">2015年</a>
                  <a href="javascript:;" rel="nofollow" data-val="2014">2014年</a>
                </dd>
              </dl>
            </li>
            <li class="col-label-4">
              <label>职位名称</label>
              <input type="text" class="ifd" placeholder="请输入，如“产品经理”">
            </li>
            <li class="col-label-4 col-btn-3">
              <label>工作性质</label>
              <button class="radio radio-checked" type="button">全职 <i></i></button><button class="radio" type="button">兼职</button><button class="radio" type="button">实习</button>
            </li>
            <li class="col-label-4">
              <label></label>
              <input class="ugc-orange-btn" type="submit" value="选好了，去发布">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% include piece/ugc-right.ejs %>
</div>
</body>
</html>