@import "../common/var";

i {
  &.base {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    vertical-align: middle;
  }

  &.problem {
    width:14px;
    height: 14px;
    background: @icons no-repeat left top;
  }

  &.errormsg {
    width: 13px;
    height: 13px;
    background: @icons no-repeat -20px top;
  }

  &.email {
    width: 55px;
    height: 54px;
    background: @icons no-repeat left -20px;
  }

  &.useremail {
    width: 22px;
    height: 16px;
    background: @icons no-repeat -64px top;
  }

  &.pwd {
    width: 16px;
    height: 22px;
    background: @icons no-repeat -92px top;
  }

  &.uploadsuss {
    width: 20px;
    height: 16px;
    background: @icons no-repeat -114px top;
  }

  &.letter {
    width: 26px;
    height: 25px;
    background: @manage_icons no-repeat 0 -60px;
  }  

  &.flag {
    width: 26px;
    height: 25px;
    background: @manage_icons no-repeat -40px -60px;
  }  

  &.round_add{
    width: 63px;
    height: 63px;
    background: @manage_icons no-repeat 0 -100px;
  } 

  &.ok{
    width: 34px;
    height: 26px;
    background: @manage_icons no-repeat -160px 0;
  }  

  &.print{
    width: 34px;
    height: 26px;
    background: @manage_icons no-repeat -80px -60px;
  } 

  &.download{
    width: 24px;
    height: 26px;
    background: @manage_icons no-repeat -120px -60px;
  }  
  &.pwdok {
    width: 14px;
    height: 11px;
    background: @manage_icons no-repeat -166px -32px;
  }
  &.close{
    width: 16px;
    height: 17px;
    background: @manage_icons no-repeat -160px -60px;
  }  
  &.noresult {
    width: 44px;
    height: 38px;
    background: @icons no-repeat 0 -33px;
  }
  //简历展示页面icons
  &.r_users {
    width: 13px;
    height: 18px;
    background: @icons no-repeat -49px -33px;
  }  
  &.r_experience {
    width: 14px;
    height: 18px;
    background: @icons no-repeat -67px -33px;
  }  
  &.r_dot {
    width: 10px;
    height: 10px;
    background: @icons no-repeat -86px -33px;
  }  
  &.r_education {
    width: 21px;
    height: 14px;
    background: @icons no-repeat -101px -33px;
  }
  &.r_j_education {
    width: 19px;
    height: 19px;
    background: @icons no-repeat -127px -33px;
  }  
  &.r_j_project {
    width: 19px;
    height: 19px;
    background: @icons no-repeat -151px -33px;
  }  
  &.r_j_d_education {
    width: 19px;
    height: 19px;
    background: @icons no-repeat -175px -33px;
  } 
  &.r_phone {
    width: 14px;
    height: 17px;
    background: @icons no-repeat -199px -33px;
  }  
  &.r_email {
    width: 15px;
    height: 11px;
    background: @icons no-repeat -218px -33px;
  }    
}