input.ipt {
  font-size: 14px;
  height: 14px;
  width: 310px;
  line-height: 14px;
  padding: 9px 10px;
  border: 1px solid #cfcfcf;
  border-width: 2px 1px 1px 2px;
  vertical-align: middle;
}
input.ipt.b {
  width: 490px;
}
input.pop_ipt {
  border-color: #999999;
  border-width: 1px;
}
input.otherreson {
  border-color: #c2c2c2 #999999 #c2c2c2 #c2c2c2;
  border-width: 2px 1px 2px 2px;
}
input.error {
  border-color: red;
}
textarea.text {
  font-size: 14px;
  width: 490px;
  padding: 9px 10px;
  border: 1px solid #cfcfcf;
  border-width: 2px 1px 1px 2px;
  vertical-align: middle;
}
.select {
  height: 32px;
  border: 1px solid #cfcfcf;
  border-width: 2px 1px 1px 2px;
  position: relative;
}
.select dt {
  text-align: center;
  vertical-align: middle;
  height: 32px;
  background-color: #fff;
  padding: 0 40px 0 0;
}
.select dt input {
  height: 32px;
  line-height: 32px;
  float: left;
  border: 0;
  width: 100%;
  color: #343434;
  padding-left: 10px;
  background-color: transparent;
  text-align: left;
}
.select dt span {
  width: 32px;
  height: 18px;
  padding-top: 14px;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  border-left: 1px solid #e6e6e6;
  font-size: 0;
  background-color: #f6f6f6 ;
  text-align: center;
  cursor: pointer;
  zoom: 1;
}
.select dt span i {
  display: inline-block;
  font-size: 0;
  zoom: 1;
  width: 9px;
  height: 5px;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  background: transparent url(../images/trangle.png) no-repeat;
}
.select dt span.on i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.select dd {
  position: absolute;
  z-index: 100;
  max-height: 260px;
  overflow: auto;
  -webkit-box-shadow: 0 2px 6px #cccccc;
  -moz-box-shadow: 0 2px 6px #cccccc;
  -ms-box-shadow: 0 2px 6px #cccccc;
  box-shadow: 0 2px 6px #cccccc;
  left: -1px;
  top: 33px;
  border: 1px solid #cfcfcf;
  border-top: 0;
  background-color: #fff;
  width: 100%;
  display: none;
}
.select dd a {
  display: block;
  height: 26px;
  line-height: 26px;
  padding-left: 15px;
}
.select dd a:hover {
  text-decoration: none;
  background-color: #007ead;
  color: #fff;
}
.select-tree dd {
  max-height: inherit;
  overflow: visible;
  padding-right: 0;
}
.select-tree dd .select-second {
  display: none;
  position: absolute;
  background-color: #fafafa;
  left: 100%;
  width: 310px;
  border: 1px solid #cfcfcf;
  padding: 15px 0;
  top: 0;
  margin-left: -1px;
  overflow: hidden;
}
.select-tree dd .select-second a {
  width: 140px;
  float: left;
}
.select-tree dd .select-second-item {
  position: relative;
}
.select-tree dd .select-second-item a.select-opts-tt {
  border-style: solid;
  border-color: transparent;
  border-width: 1px 0;
}
.select-tree dd .select-second-item a.select-opts-tt span {
  background: url("../images/select-r.png") no-repeat right 6px;
  overflow: hidden;
  display: block;
  margin-right: 10px;
}
.select-tree dd .select-second-item a.select-opts-tt:hover {
  background-color: transparent;
  color: #007ead;
}
.select-tree dd .select-second-item.on a.select-opts-tt {
  background: #fafafa;
  border-color: #cfcfcf;
  color: #007ead;
  -webkit-box-shadow: -2px 0px 3px #cccccc;
  -moz-box-shadow: -2px 0px 3px #cccccc;
  -ms-box-shadow: -2px 0px 3px #cccccc;
  box-shadow: -2px 0px 3px #cccccc;
  position: relative;
  z-index: 2;
}
.select-tree dd .select-second-item.on a.select-opts-tt span {
  background: transparent;
}
.select-tree dd .select-second-item.on .select-second {
  display: block;
}
