@import "common/var";
@import "module/list_show";
@import "module/menu";

/* section.list{
	ul{
		li{
			overflow: hidden;
			background-color: #fff;
			margin: 10px 10px 0;
			padding: 10px;
			.news_img{
				float: left;
				margin-right: 10px;
			}
			.news_c{
				min-height: 62px;
				.t{
					margin-bottom: 5px;
				}
				.p{
					font-size: 12px;
					color: @grey;
				}
			}
		}
	}
} */