a.l_m_collection {
  color: #999999;
}
a.l_m_collection i.collection {
  background: url("../images/icons_v2.png") no-repeat -161px -25px;
  margin-right: 5px;
  vertical-align: -2px;
}
a.l_m_collection:hover {
  color: #007ead;
  text-decoration: none;
}
a.l_m_collection:hover i.collection {
  background: url("../images/icons_v2.png") no-repeat -161px -41px;
}
a.hadcollection {
  color: #999999;
  cursor: default;
}
a.hadcollection i.hadcollection {
  background: url("../images/icons_v2.png") no-repeat -161px -41px;
  margin-right: 5px;
  vertical-align: -2px;
}
a.hadcollection:hover {
  text-decoration: none;
}
