@import "../common/var";
.autocomplete-suggestions { 
    border: 1px solid @grey_border; 
    background: #FFF; cursor: 
    default; overflow: auto; 

    strong{
        font-weight: bold;
        color: #007ead;
    }
}
.autocomplete-suggestion { 
    padding: 5px;
    white-space: nowrap; 
    overflow: hidden;
}
.autocomplete-selected {
    background: #007ead; 
    color: #fff;
    strong{
        color: #ffd;
    }
}