@import "../common/var";
dl.co_info{
	overflow: hidden;
	padding: 10px;
	background-color: #fff;
	dt{
		float: left;
		margin-right: 10px;
		img{
			width: 46px;
			height: 46px;
			border: 1px solid @grey_s;
			border-radius: 5px;
			vertical-align: middle;
		}
	}
	dd{
		line-height: 1.2;
	}
	h1{
		font-size: 18px;
		line-height: 1.4;
	}
	p{
		color: @grey;
	}
	&.detail_head{
		img{
			width: 44px;
			height: 44px;
			border: 0;
		}
	}
}
