@import "../common/var";

.icons_base() {
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
}

i {
	&.i {
		.icons_base;
		background-image: url(../images/field/field_icons.png);
		.background-size(222px);
	}

	&.i_menu{
		width: 25px;
		height: 25px;
		background-position: 0 0;
	}
	
	//员工推荐排行
	&.i_comprehensive{
		width: 12px;
		height: 12px;
		background-position: -27px 0;
	}

	//综合排行
	&.i_ceo{
		width: 11.5px;
		height: 10px;
		background-position: -41px 0;
	}

	//ceo排行
	&.i_recommend{
		width: 12px;
		height: 10px;
		background-position: -55px 0;
	}


	//看准网首页
	&.i_home{
		width: 15px;
		height: 13.5px;
		background-position: -69px 0;
	}

	//选择对对比职位
	&.i_position{
		width: 10.5px;
		height: 17px;
		background-position: -86px 0;
	}

	//选择对对比公司
	&.i_cmp{
		width: 15px;
		height: 15.5px;
		background-position: -99px 0;
	}

	//微信
	&.i_weixin{
		width: 18px;
		height: 15px;
		background-position: -116px 0;
	}

	//解释疑问
	&.i_question{
		width: 13px;
		height: 13px;
		background-position: -136px 0;
	}

	//引导点击的箭头
	&.i_arrowR{
		width: 7.5px;
		height: 14px;
		background-position: -149px 0;
	}

	//排行榜序列号
	//(小11*11)
	&.i_s_custom {
		display: inline-block;
		width: 12px;
		height: 12px;
		line-height: 13px;
		text-align: center;
		border-radius: 2px;
		font-size: 10px;
		color: #fff;
	}

	//排行榜序列号
	//(小15*15)
	&.i_b_custom {
		display: inline-block;
		width: 15px;
		height: 15px;
		line-height: 16px;
		color: #fff;
		text-align: center;
		font-size: 10px;
		border-radius: 4px;
		background-color: #ccc;
	}

	&.i_order_red{
		background-color: #e85253;
	}

	&.i_order_blue{
		background-color: #4a9ee2;
	}

	&.i_order_green{
		background-color: #67bf58;
	}

	&.i_correct{
		width: 15.5px;
		height: 15px;
		background-position: -80px -20px;
	}
}

.green_start {
	display: inline-block;
	width: 76.5px;
	height: 14px;
	background: transparent url(../images/field/field_icons.png) no-repeat 0 -46px;
	.background-size(222px);
	font-size: 0;
	overflow: hidden;

	i {
		float: left;
		height: 14px;
		background: transparent url(../images/field/field_icons.png) no-repeat 0 -30px;
		.background-size(222px);
	}
}

