@import "../common/var";

footer.f_footer {
	display: block;
	position: relative;
	margin-top: -50px;
	width: 100%;
	height: 50px;
	background-color: #6f6e6e;
	clear: both;

	& > p {
		color: #fff;
		text-align: center;

		a {
			color: #fff;
		}

		em {
			color: #828282;
			margin: 0 9px;
		}

		&.kanzhun {
			padding-top: 5px;
		}
	}
}