@import "../common/var";
.autocomplete-suggestions {
  background-color: #fff;
  .box-sizing();
  width: 100%;
  height: 520px;

  strong {
    font-weight: bold;
    color: #007ead;
  }
}

.autocomplete-suggestion {
  padding: 10px;
  margin: 0 10px;
  border-bottom: 1px solid #e7e7e7;
}

.autocomplete-selected {
  background: #eee;
  strong {
    color: #007ead;
  }
}

