html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
pre,
form,
p,
blockquote,
input,
abbr,
article,
aside,
figcaption,
figure,
footer,
header,
mark,
meter,
menu,
nav,
output,
progress,
section,
summary,
time {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ul,
ol {
  list-style: none;
}
iframe,
a,
img,
button {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
hgroup,
nav,
section,
figure,
figcaption {
  display: block;
}
img {
  vertical-align: middle;
}
i,
em {
  font-style: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.clear {
  clear: both;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  overflow: hidden;
}
.clearfix {
  zoom: 1;
}
.hidden {
  display: none;
}
.inline-block {
  display: inline-block;
}
.t-center {
  text-align: center;
}
.middle {
  vertical-align: middle;
}
.hand {
  cursor: pointer;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.w_990 {
  width: 990px;
}
body {
  font: normal 12px/1.5 Arial, Microsoft Yahei, simsun;
  background-color: #fff;
  color: #343434;
}
.f_blue {
  color: #007ead;
}
.f_red {
  color: #ff0000;
}
a {
  color: #343434;
}
a.blue {
  color: #007ead;
}
a.red {
  color: #ff0000;
}
a.green {
  color: #7ab12d;
}
.onholder {
  color: #666;
}
header {
  border-bottom: 6px solid #7ab12d;
  position: relative;
  height: 70px;
  padding: 15px 15px 0;
  min-width: 990px;
}
header .logo {
  float: left;
}
header .u {
  float: right;
}
header .u span {
  margin: 0 10px;
  color: #cdcdcd;
}
header .u a {
  color: #007ead;
}
header nav {
  position: absolute;
  bottom: 0;
  right: 20px;
  overflow: hidden;
  padding-left: 2px;
}
header nav a {
  height: 32px;
  line-height: 32px;
  text-align: center;
  padding: 0 25px;
  border: 1px solid #9a9a9a;
  border-bottom: 0;
  float: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: -1px;
  background-color: #f5f5f5;
  background: linear-gradient(0deg, #f5f5f5 0%, #ffffff 100%);
}
header nav a.current {
  color: #fff;
  background-color: #7ab12d;
  background: linear-gradient(0deg, #7ab12d 0%, #8fcb32 100%);
  text-decoration: none;
  border-color: #70a61b;
}
header nav a:hover {
  text-decoration: none;
}
section.container {
  padding: 15px;
}
div.pager {
  padding: 15px 0;
}
div.pager a {
  height: 22px;
  line-height: 22px;
  padding: 0 8px;
  display: inline-block;
  margin: 0 5px;
  border: 1px solid #dddddd;
  color: #007ead;
}
div.pager a.next {
  margin-right: 20px;
}
div.pager a.current {
  background-color: #7ab12d;
  text-align: center;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
}
table.tb_grey {
  border-top: 1px solid #9a9a9a;
  border-left: 1px solid #9a9a9a;
}
table.tb_grey th,
table.tb_grey td {
  height: 30px;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #9a9a9a;
  border-right: 1px solid #9a9a9a;
}
table.tb_grey th {
  background-color: #dedede;
}
.new {
  width: 16px;
  height: 19px;
  background: url(../images/new.jpg) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.cube {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.display-flex {
  display: -webkit-flex;
  display: flex;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=text] {
  outline: none;
}
input[type=text].def {
  width: 146px;
  height: 22px;
  line-height: 22px;
  padding: 0 2px;
  border: 1px solid #d1d1d1;
  border-top: 2px solid #999999;
}
input[type=text].hightlight {
  background-color: #ffbcbc;
}
input[type=text].small {
  width: 40px;
  height: 22px;
  line-height: 22px;
  padding: 0 2px;
  border: 1px solid #d1d1d1;
  border-top: 2px solid #999999;
}
.btn_grey {
  -webkit-box-shadow: 0 1px 2px #cccccc;
  -moz-box-shadow: 0 1px 2px #cccccc;
  box-shadow: 0 1px 2px #cccccc;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0 35px;
  border: 1px solid #a8a8a8;
  background-color: #e7e7e7;
  background: linear-gradient(0deg, #e7e7e7 0%, #f9f9f9 100%);
  font-size: 13px;
  border-radius: 2px;
  cursor: pointer;
}
.btn_grey:hover {
  background-color: #f5f5f5;
  background: linear-gradient(0deg, #f5f5f5 0%, #ffffff 100%);
  text-decoration: none;
}
.btn_grey_s {
  -webkit-box-shadow: 0 1px 2px #cccccc;
  -moz-box-shadow: 0 1px 2px #cccccc;
  box-shadow: 0 1px 2px #cccccc;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  text-align: center;
  padding: 0 15px;
  border: 1px solid #a8a8a8;
  background-color: #e7e7e7;
  background: linear-gradient(0deg, #e7e7e7 0%, #f9f9f9 100%);
  font-size: 13px;
  border-radius: 2px;
  cursor: pointer;
}
.btn_grey_s:hover {
  background-color: #f5f5f5;
  background: linear-gradient(0deg, #f5f5f5 0%, #ffffff 100%);
  text-decoration: none;
}
.btn_err span {
  background: url(../images/status_err.png) no-repeat 0 6px;
  width: 14px;
  display: inline-block;
  font-size: 0;
  height: 30px;
  vertical-align: middle;
  margin-right: 4px;
}
.btn_ok span {
  background: url(../images/status_ok.png) no-repeat 0 5px;
  width: 18px;
  display: inline-block;
  font-size: 0;
  height: 30px;
  vertical-align: middle;
  margin-right: 4px;
}
select.def {
  height: 22px;
  line-height: 22px;
}
textarea {
  outline: none;
}
textarea.def {
  border: 0;
  line-height: 1.8em;
  font-size: 12px;
}
textarea.hightlight {
  background-color: #ffbcbc;
}
.tip {
  cursor: pointer;
  color: #007ead;
}
.tooltip {
  display: none;
  position: absolute;
}
.tooltip dt {
  height: 13px;
  position: relative;
}
.tooltip dt a.close {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/overlay-icons.png) no-repeat 0 -18px;
  display: block;
  right: 3px;
  top: 17px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.tooltip dt a.close:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.tooltip dt span.arrow {
  width: 21px;
  height: 13px;
  background: url(../images/overlay-icons.png) no-repeat 0 0;
  display: block;
  margin: 0 0 0 30px;
}
.tooltip dd {
  min-width: 200px;
  border-radius: 4px;
  background-color: #e7e7e7;
  background-color: rgba(231, 231, 231, 0.9);
  padding: 10px;
  -webkit-box-shadow: 1px 2px 8px #cccccc;
  -moz-box-shadow: 1px 2px 8px #cccccc;
  box-shadow: 1px 2px 8px #cccccc;
}
.grey_line {
  height: 0;
  overflow: hidden;
  border-bottom: 1px solid #dddddd;
}
.star {
  width: 79px;
  height: 15px;
  background: url(../images/star.jpg) no-repeat;
  display: inline-block;
  overflow: hidden;
}
.star span {
  background: url(../images/star.jpg) no-repeat 0 -16px;
  float: left;
  height: 15px;
}
.star .one {
  width: 15px;
}
.star .two {
  width: 31px;
}
.star .three {
  width: 47px;
}
.star .four {
  width: 63px;
}
.star .five {
  width: 79px;
}
.triangle {
  width: 59px;
  height: 10px;
  background: url(../images/star.jpg) no-repeat 0 -37px;
  display: inline-block;
  overflow: hidden;
}
.triangle span {
  background: url(../images/star.jpg) no-repeat 0 -49px;
  float: left;
  height: 10px;
}
.triangle .one {
  width: 11px;
}
.triangle .two {
  width: 23px;
}
.triangle .three {
  width: 35px;
}
.triangle .four {
  width: 47px;
}
.triangle .five {
  width: 59px;
}
section.l_con {
  width: 990px;
  margin: 20px auto 0 auto;
}
dl.l_d_l {
  overflow: hidden;
}
dl.l_d_l dt {
  float: left;
  width: 500px;
  padding-right: 35px;
  border-right: 1px solid #e7e7e7;
}
dl.l_d_l dt p {
  height: 35px;
  line-height: 35px;
  overflow: hidden;
}
dl.l_d_l dt p span {
  float: right;
}
dl.l_d_l dt img {
  width: 500px;
}
dl.l_d_l dd {
  margin-left: 625px;
}
dl.l_d_l dd li {
  padding-bottom: 15px;
}
dl.l_d_l dd li label {
  display: inline-block;
  width: 75px;
  text-align: right;
  padding-right: 20px;
}
dl.l_d_l dd li input[type=text] {
  height: 16px;
  line-height: 16px;
  padding: 5px;
  width: 180px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  box-shadow: inset 0 1px 1px #ccc;
  margin-right: 10px;
}
dl.l_d_l dd li input[type=button] {
  width: 50px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  color: #343434;
  border-radius: 5px;
}
dl.l_d_l dd li input[type=submit] {
  width: 80px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  color: #343434;
  border-radius: 5px;
  margin-right: 10px;
}
div.l_d_b dt {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #e7e7e7;
  height: 35px;
  line-height: 35px;
}
div.l_d_b dd {
  padding: 20px 0 20px 80px;
  border-bottom: 1px solid #e7e7e7;
}
div.l_d_b dd p.green {
  color: #7ab12d;
}
div.l_d_b dd p.red {
  color: red;
}
div.l_d_b dd p:last-child {
  text-align: right;
}
